@charset "utf-8";

/* login */
.login-container{  }

/* 로고 */
.login-container .container-logo{ text-align:center; }
.login-container .container-logo .tit{ line-height:1.666666667rem; font-size:1.133333333rem; font-weight:700; }
.login-container .container-logo .img{ margin-top:1rem; }
.login-container .container-logo .img > img{ width:13.26666667rem; max-width:100%; }

/* 로그인 */
.login-container .container-login{ margin-top:3rem; }
.login-container .container-login .form-layout{ width:13.33333333rem; margin:0 auto; }
.login-container .container-login .form-small .input-text input{ padding-left:2.066666667rem; }
.login-container .container-login .form-btn .btn{ height:2.666666667rem; line-height:2.6rem; border-radius:1.666666667rem; font-size:0.666666667rem; }
.login-container .container-login .link-area{ margin-top:1.666666667rem; text-align:center; }
.login-container .container-login .link-area > a{ line-height:0.9rem; padding-left:0.666666667rem; position:relative; font-size:0.6rem; }
.login-container .container-login .link-area > a:first-child{ padding-left:0; }
.login-container .container-login .link-area > a:after{ content:''; width:1px; display:block; position:absolute; top:6px; left:0.266666667rem; bottom:4px; background-color:#000; }
.login-container .container-login .link-area > a:first-child:after{ display:none; }

/* 비밀번호 수정 */
.pw-edit-container{ width:100%; }

/* 비밀번호 찾기 */
.pw-find-container .check-area > .input-text{ width:11.36666667rem; }
.pw-find-container .check-area > .btn{ width:3.633333333rem; }
