@charset "utf-8";

.form-toggle{ display:flex; }
.form-toggle > [class^='toggle']{ flex:1; }
.form-toggle > [class^='toggle'] input{ width:0; height:0; position:absolute; opacity:0; }
.form-toggle > [class^='toggle'] .btn{ cursor:pointer; }
.form-toggle > [class^='toggle'] input:checked + .btn{ background-color:#000; color:#fff; }

.subject-area{ margin-bottom:50px; padding-bottom:50px; }
.subject-area > ul{ display:flex; justify-content:center; align-items:center; }
.subject-area > ul > li{ margin:0 20px; }
.subject-area .img{ width:200px; height:280px; display:flex; position:relative; background-color:#fafafa; border:1px solid #d3d3d3; justify-content:center; align-items:center; box-sizing:border-box; }
.subject-area .img:after{ content:'과목을 \A 선택해주세요'; display:flex; position:absolute; top:0; left:0; right:0; bottom:0; color:#a3a3a3; z-index:1; text-align:center; white-space:pre; justify-content:center; align-items:center; }
.subject-area .img > img{ max-width:100%; max-height:100%; position:relative; z-index:10; }
.subject-area .txt{ height:24px; margin-top:10px; font-size:16px; font-weight:700; text-align:center; }


/* 랜딩 */
.event-container{  }

/* order-step2 */
.order-step2-container .form-toggle{ margin-top:-10px; flex-wrap:wrap; }
.order-step2-container .form-toggle > label{ width:calc( 25% - 40px ); margin:10px; flex:auto; }