@charset "utf-8";
/* 오시는길 프린트 속성 */
.print-tit{ display:none; }

@media only print{
	.print-tit{ margin-bottom:5px; display:block; }
	#header, #footer, .page-loc, .page-tit, .board-tab, .btn-print{ display:none; }
	html, body, #wrap, .board-layout{ width:100%; margin:0; padding:0; }
	.board-layout .img-box{ width:80%; margin:0; }
	.board-layout .img-box img{ width:100%; }
}

/* color */
.map-container .list-dotted li span:nth-child(1){ font-weight:bold; color:#FFD500; }
.map-container .list-dotted li span:nth-child(2){ font-weight:bold; color:#E46912; }