@charset "utf-8";

.float-area{ *zoom:1; }
.float-area:after{ content:''; display:block; clear:both; }
.float-area .fl{ float:left; }
.float-area .fr{ float:right; }

.flex-area{ margin:0 -0.333333333rem; display:flex; }
.flex-area > *{ margin:0 0.333333333rem; }

.relative{ position:relative; }
.absolute{ position:absolute; }
.blind{ width:0; height:0; line-height:0; position:absolute; left:-9999px; font-size:0; overflow:hidden; }
.border-none{ border:none !important; }

.txt-left{ text-align:left !important; }
.txt-right{ text-align:right !important; }
.txt-center{ text-align:center !important; }

.mb0{ margin-bottom:0 !important; }
.mb1{ margin-bottom:1rem !important; }
.mb2{ margin-bottom:2rem !important; }
.mt0{ margin-top:0 !important; }
.mt1{ margin-top:1rem !important; }
.mt2{ margin-top:2rem !important; }
.mt10{ margin-top:0.333333333rem !important; }
.mt20{ margin-top:0.666666667rem !important; }

.color-gray{ color:#999 !important; }
.color-white{ color:#fff !important; }
.color-red{ color:#f33737 !important; }
.color-blue{ color:#003fab !important; }

.fs12{ font-size:0.4rem !important; }

em{ font-style:normal; }
.hr{ height:0.333333333rem; margin:1rem auto; background-color:#eee; border:none; }

/* rw */
.rw-mo{ display:none !important; }/* mobile */

/* layout */
.video-area{ height:0; padding-bottom:56.25%; position:relative; background-color:#000; }
.info-area{ height:0; padding-bottom:56.25%; position:relative; background-color:#000; }
.info-area > div{ width:100%; height:100%; display:flex; position:absolute; top:0; left:0; font-size:0.866666667rem; font-weight:700; justify-content:center; align-items:center; color:#fff; }
.wide-area{ padding-bottom:42.55319149%; }
.video-area iframe{ width:100%; height:100%; position:absolute; top:0; left:0; }

/* tit */
.tit-dep1{ margin-bottom:0.5rem; font-size:1rem; font-weight:700; word-break:keep-all; }
.tit-dep1 small{ display:block; font-size:0.733333333rem; font-weight:400; color:#999; }
.tit-dep2{ margin-bottom:0.5rem; font-size:0.866666667rem; font-weight:700; }
.tit-dep4{ margin-bottom:0.5rem; font-size:0.666666667rem; font-weight:700; }
.tit-dep5{ margin-bottom:0.333333333rem; font-size:0.533333333rem; font-weight:700; }
.tit-line{ text-decoration:underline; }
.tit-area{ position:relative; }
.tit-area .tit-side{ position:absolute; top:50%; right:0; transform:translate(0, -50%); }
.tit-area .tit-side > .btn{ margin-left:0.1rem; }

/* txt */
.strong{ font-weight:700 !important; }
.txt-link, .txt-link:hover{ display:inline-block; text-decoration:underline; }

.link-area{ margin-top:0.666666667rem; text-align:center; }
.link-area > a{ line-height:0.9rem; padding-left:0.666666667rem; position:relative; font-size:0.533333333rem; }
.link-area > a:first-child{ padding-left:0; }
.link-area > a:after{ content:''; width:1px; display:block; position:absolute; top:6px; left:0.266666667rem; bottom:4px; background-color:#000; }
.link-area > a:first-child:after{ display:none; }

/* ico */
[class^='ico']{ display:inline-block; position:relative; top:-1px; background-position:50% 0; background-size:100% 100%; background-repeat:no-repeat; text-indent:-9999px; vertical-align:middle; }
/*
.ico-{ width:rem; height:rem; background-image:url(//img.sdij.com/sd2019/app/common/); }
*/
.ico-device-g{ width:1.333333333rem; height:1.333333333rem; background-image:url(//img.sdij.com/sd2019/app/common/ico_device_g.png); }
.ico-video-g{ width:1.333333333rem; height:1.333333333rem; background-image:url(//img.sdij.com/sd2019/app/common/ico_video_g.png); }
.ico-mouse-g{ width:1.333333333rem; height:1.333333333rem; background-image:url(//img.sdij.com/sd2019/app/common/ico_mouse_g.png); }

/* stickter */
[class*='sticker']{ height:1rem; line-height:0.933333333rem; padding:0 0.8rem; display:inline-block; border:1px solid #ddd; border-radius:1rem; font-size:0.533333333rem; font-weight:700; text-align:center; }
.sticker-red{ background-color:#f33737; border-color:#f33737; color:#fff; }
.sticker-black{ background-color:#000; border-color:#000; color:#fff; }
.sticker-blue{ background-color:#003fab; border-color:#003fab; color:#fff; }
.sticker-purple{ background-color:#8028f4; border-color:#8028f4; color:#fff; }
.sticker-gray{ background-color:#fafafa; border-color:#ddd; color:#000; }

/* btn */
.btn{ width:100%; height:1.333333333rem; line-height:1.266666667rem; display:inline-block; background-color:#fff; border:none; border:1px solid #000; border-radius:1rem; font-size:0.533333333rem; text-align:center; vertical-align:top; box-sizing:border-box; }
.btn:hover{ text-decoration:none; }
.btn-M{ width:auto; padding:0 0.666666667rem; }
.btn-L{ width:auto; padding:0 1.333333333rem; font-size:0.6rem; font-weight:700; }
.btn-disabled{ border-color:#999; color:#999; }
.btn-black{ background-color:#100f0f; border-color:#100f0f; color:#fff; }
.btn-gray{ background-color:#eee; border-color:#eee; }
.btn-more{ margin-bottom:0.666666667rem; border:none; color:#999; }
.btn-more:after{ content:''; width:0.6rem; height:0.333333333rem; margin-left:0.333333333rem; display:inline-block; background:url(//img.sdij.com/sd2019/app/common/ico_bottom_g.png) 50% 0 no-repeat; background-size:100% 100%; }
.btn-back{ width:0.533333333rem; height:0.533333333rem; border-top:0.066666667rem solid #fff; border-left:0.066666667rem solid #fff; transform:rotate(-45deg); font-size:0; }
.btn-del{ width:0.5rem; height:0.5rem; background:url(//img.sdij.com/sd2019/app/common/ico_close_g.png) 50% 0 no-repeat; background-size:100% 100%; border:none; font-size:0; vertical-align:middle; }

/* input, select, textarea */
.input-checkbox{ display:inline-block; position:relative; cursor:pointer; }
.input-checkbox input[type="checkbox"]{ width:0; height:0; position:absolute; opacity:0; }
.input-checkbox .ico-checkbox{ width:0.466666667rem; height:0.466666667rem; margin-right:2px; background:url(//img.sdij.com/sd2019/app/common/input_checkbox.png) 0 100% no-repeat; background-size:100% 100%; vertical-align:middle; }
.input-checkbox input[type="checkbox"]:checked + .ico-checkbox{ background-image:url(//img.sdij.com/sd2019/app/common/input_checkbox_check.png); }

.input-checkbox-toggle .ico-checkbox{ width:1.6rem; height:0.866666667rem; margin-right:0; position:relative; background:none; background-color:#ebe7e7; border-radius:1rem; }
.input-checkbox-toggle .ico-checkbox:after{ content:''; width:0.8rem; position:absolute; top:0.033333333rem; left:0.033333333rem; bottom:0.033333333rem; background-color:#fff; border-radius:0.4rem; transform:translateX(0); transition:all .15s ease-in-out; }
.input-checkbox-toggle input[type="checkbox"]:checked ~ .ico-checkbox{ background:none; background-color:#000; }
.input-checkbox-toggle input[type="checkbox"]:checked ~ .ico-checkbox:after{ transform:translateX(0.733333333rem); transition:all .15s ease-in-out; }

.input-radio{ display:inline-block; position:relative; cursor:pointer; }
.input-radio input[type="radio"]{ width:0; height:0; position:absolute; opacity:0; }
.input-radio .ico-radio{ width:0.466666667rem; height:0.466666667rem; margin-right:2px; top:-2px; background:url(//img.sdij.com/sd2019/app/common/input_radio.png) 0 100% no-repeat; background-size:100% 100%; vertical-align:middle; }
.input-radio input[type="radio"]:checked ~ .ico-radio{ background-image:url(//img.sdij.com/sd2019/app/common/input_radio_check.png); }

.input-text{ width:100%; display:inline-block; }
.input-text input{ width:100%; height:1.8rem; line-height:1.733333333rem; padding:0 0.666666667rem; display:inline-block; border:none; border-radius:0; border-bottom:1px solid #ebe7e7; font-size:0.466666667rem; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; letter-spacing:-.05em; }
.input-text input:focus{ border-color:#100f0f; }

.input-text input:read-only{ color:#999; cursor:default; }
.input-text input:read-only:focus{ border-color:#ebe7e7; }

.input-file{ *zoom:1; }
.input-file:after{ content:''; display:block; clear:both; }
.input-file > .btn{ width:5rem; float:left; }
.input-file > .file-info{ line-height:0.666666667rem; margin-left:0.333333333rem; float:left; font-size:0.466666667rem; }
.input-file + .list-file{ margin-top:0.666666667rem; }
.list-file li{ margin:0.166666667rem auto; font-size:0.466666667rem; }
.list-file li .btn-del{ margin-left:0.1rem; position:relative; top:-1px; }

.select{ width:100%; display:inline-block; position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; vertical-align:top; }
.select select{ width:100%; height:1.8rem; line-height:1.733333333rem; padding-left:0.733333333rem; padding-right:1.666666667rem; position:relative; background-color:#fff; border:none; border-bottom:1px solid #ebe7e7; font-size:0.533333333rem; vertical-align:top; z-index:1; }
.select select:disabled{ background-color:#eee; color:#999; }
.select:after{ content:''; width:0.6rem; height:0.333333333rem; margin-top:-0.166666667rem; display:block; position:absolute; top:50%; right:0.566666667rem; background:url(//img.sdij.com/sd2019/app/common/ico_bottom.png) 50% 50% no-repeat; background-size:100% 100%; z-index:2; }

.select-sm select{ height:1.333333333rem; line-height:1.266666667rem; padding-left:0.266666667rem; padding-right:1rem; font-size:0.466666667rem; }
.select-sm:after{ content:''; width:0.333333333rem; height:0.166666667rem; margin-top:-0.066666667rem; right:0.333333333rem; }

.textarea{ width:100%; }
.textarea textarea{ width:100%; line-height:0.8rem; padding:0.5rem 0.666666667rem; border:none; border:1px solid #ebe7e7; font-size:0.466666667rem; text-align:left; box-shadow:none; vertical-align:middle; resize:none; -webkit-appearance:none; overflow-x:hidden; overflow-y:auto; }

.input-text input::placeholder, .textarea textarea::placeholder{ color:#999; opacity:1; }
.input-text input::-webkit-input-placeholder, .input-text input:-ms-input-placeholder, .input-text input:-mos-input-placeholder, .textarea textarea::-webkit-input-placeholder, .textarea textarea:-ms-input-placeholder, .textarea textarea:-mos-input-placeholder{ color:#999; }

/* list */
.list-tit{ margin:0 -0.333333333rem; }
.list-tit > li{ width:50%; float:left; padding:0.333333333rem; }
.list-tit > li > a > span, .list-tit > li > span{ display:inline-block; vertical-align:middle; }
.list-tit > li .tit{ width:3.333333333rem; font-weight:700; }

.list-live{ margin:-0.333333333rem -0.333333333rem 1.666666667rem -0.333333333rem; display:flex; flex-flow:row wrap; }
.list-live > li{ margin-top:0.666666667rem; padding:0 0.333333333rem; display:flex; flex-basis:33.33%; }
.list-live > li > a{ width:100%; padding:0.66666666rem; display:block; border:1px solid #ddd; font-size:0.6rem; }
.list-live > li > a.on{ font-weight:700; }
.list-live [class*='sticker']{ width:auto; height:1.2rem; line-height:1.133333333rem; margin-right:0.333333333rem; padding:0; font-size:0.466666667rem; }

.list-live2{ display:block; }
.list-live2:after{ content:''; display:block; clear:both; }
.list-live2 > li{ width:33.333333333%; margin-top:0.666666667rem; padding:0 0.333333333rem; display:block; float:left; flex-basis:33.333333%; }
.list-live2 > li.no-data{ width:100%; font-size:0.6rem; text-align:center; flex-basis:100%; justify-content:center; }
.list-live2 > li.no-data > div{ width:100%; height:6.666666667rem; padding:0.66666666rem; display:flex; border:1px solid #ddd; justify-content:center; align-items:center; }

.list-live2 > li > a{ padding-top:2.2rem; position:relative; text-align:right; word-break:keep-all; }
.list-live2 > li > a.on{ font-weight:400; }
.list-live2 [class*='sticker']{ width:auto; padding:0 0.8rem; position:absolute; top:0.666666667rem; left:0.666666667rem; }
.list-live2 > li a > span{ display:block; }
.list-live2 > li .tit{ font-weight:700; }
.list-live2 > li .tit.tit-link:after{ margin-top:-0.2rem; }
.list-live2 > li .color-gray{ font-size:0.533333333rem; }

.list-dash > li{ line-height:0.8rem; margin:0.066666667rem auto; padding-left:0.333333333rem; position:relative; word-break:keep-all; }
.list-dash > li:before{ content:"-"; line-height:0.8rem; position:absolute; left:0; }

.list-number{ counter-reset:section; }
.list-number > li{ margin:0.066666667rem auto; padding-left:0.6rem; line-height:0.8rem; position:relative; word-break:keep-all; }
.list-number > li:before{ counter-increment:section; content:counter(section)'.'; line-height:0.8rem; position:absolute; left:0; }

.list-faq > ul{ margin:0 -0.333333333rem; display:flex; flex-wrap:wrap; counter-reset:faq; }
.list-faq > ul > li{ width:25%; padding:0.333333333rem; }
.list-faq > ul > li > a{ height:4.266666667rem; padding:0.66666666rem 1.333333333rem 0.66666666rem 0.66666666rem; display:block; position:relative; border-radius:0.333333333rem; border:1px solid #ddd; font-size:0.533333333rem; overflow:hidden; }
.list-faq > ul > li > a:hover{ box-shadow:0 0 10px 0 rgba(0, 0, 0, .16); transition:all ease-in-out .5s; }
.list-faq > ul > li > a:before{ content:counter(faq)'.'; counter-increment:faq; margin-bottom:0.166666667rem; display:block; font-size:0.733333333rem; font-weight:700;  }
.list-faq > ul > li > a:after{ content:''; width:0.333333333rem; height:0.333333333rem; margin-top:-0.166666667rem; position:absolute; top:50%; right:0.666666667rem; border-top:0.066666667rem solid #000; border-right:0.066666667rem solid #000; transform:rotate(45deg); }
.list-faq > ul > li > a > span{ overflow:hidden; text-overflow:ellipsis; word-break:break-all; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; }

/* tab */
.tab-type1{ width:100%; margin:0 auto 0.5rem; text-align:center; }
.tab-type1 > a{ margin:0 0.333333333rem 0.5rem; padding-bottom:0.233333333rem; display:inline-block; font-size:0.714285714rem; font-weight:700; color:#999; vertical-align:middle; }
.tab-type1 > a:hover, .tab-type1 > a.selected{ padding-bottom:0.166666667rem; border-bottom:2px solid #000; color:#000; }

.tab-icon > ul{ display:flex; border-top:1px solid #ddd; border-left:1px solid #ddd }
.tab-icon > ul > li{ position:relative; border:1px solid #ddd; border-top:none; border-left:none; flex:1; }
.tab-icon > ul > li:hover:after, .tab-icon > ul > li.selected:after{ content:''; height:2px; background-color:#000; position:absolute; top:-1px; left:-1px; right:-1px; z-index:10; }
.tab-icon > ul > li > a{ height:3.333333333rem; padding-left:1.333333333rem; display:flex; font-size:0.733333333rem; font-weight:700; color:#999; align-items:center; }
.tab-icon > ul > li:hover > a, .tab-icon > ul > li.selected > a{ color:#000; }
.tab-icon > ul > li > a > [class^='ico']{ margin-right:0.666666667rem; }
.tab-icon > ul > li > a > span > small{ display:block; font-size:0.533333333rem; font-weight:400; }

.tab-icon > ul > li:hover > a .ico-device-g, .tab-icon > ul > li.selected > a .ico-device-g{ background-image:url(//img.sdij.com/sd2019/app/common/ico_device.png); }
.tab-icon > ul > li:hover > a .ico-video-g, .tab-icon > ul > li.selected > a .ico-video-g{ background-image:url(//img.sdij.com/sd2019/app/common/ico_video.png); }
.tab-icon > ul > li:hover > a .ico-mouse-g, .tab-icon > ul > li.selected > a .ico-mouse-g{ background-image:url(//img.sdij.com/sd2019/app/common/ico_mouse.png); }

.tab-subject{ margin:0 -0.333333333rem; text-align:left; }

.tab-content{ display:none; }
.tab-on{ display:block; }


/* table */
.table-type1{ overflow:hidden; }
.table-type1 table{ width:calc( 100% + 1px ); margin-left:-1px; border-top:1px solid #ebe7e7; table-layout:fixed; }
.table-type1 table tr th, .table-type1 table tr td{ border-left:1px solid #ebe7e7; border-bottom:1px solid #ebe7e7; word-break:break-all; vertical-align:middle; }
.table-type1 table tr th{ background-color:#fafafa; }
.table-type1 table tr td{ padding:0.666666667rem; }
.table-type1 table tr td.no-data{ padding:3.333333333rem 0; text-align:center; }
.table-type1 table tr th, .table-type1 table tr td.txt-center{ padding:0.666666667rem 0.333333333rem; }
.table-type1 table tr td .lec-tit{ font-size:0.6rem; font-weight:700; }
.table-type1 table tr td .lec-info{ margin:0.166666667rem auto; font-size:0.466666667rem; }
.table-type1 table tr td .lec-tit + .lec-info{ margin-top:0.333333333rem; }
.table-type1 table tr td .lec-info > span:before{ content:''; width:1px; height:0.428571429rem; margin:0 0.25rem 0 0.142857143rem; display:inline-block; position:relative; top:-2px; background-color:#ddd; vertical-align:middle; }
.table-type1 table tr td .lec-info > span:first-child:before{ display:none; }
.table-type1 table tr td .select select{ border:1px solid #ebe7e7; }

.table-type2 table{ width:100%; font-size:0.466666667rem; table-layout:fixed; }
.table-type2 table tr th, .table-type2 table tr td{ min-height:1.8rem; padding:0.666666667rem 0; border-top:1px solid #ddd; font-size:0.533333333rem; text-align:center; vertical-align:middle; }
.table-type2 table tr th{ font-weight:400; }
.table-type2 table tr:first-child th, .table-type2 table tr:first-child td{ border-top:none; }
.table-type2 table tr th{ padding:0.666666667rem; border:none; }
.table-type2 table tr th > span{ line-height:1.6rem; margin:0 auto; display:block; border:1px solid #ddd; border-radius:1rem; font-weight:400; }
.table-type2 table tbody tr th > span{ line-height:0.8rem; padding:0.333333333rem 0; }

.tit-link{ max-width:100%; padding-right:0.833333333rem; display:inline-block; position:relative; overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; vertical-align:middle; }
.tit-link:hover{ text-decoration:underline; }
.tit-link:after{ content:''; width:0.333333333rem; height:0.333333333rem; margin-top:-0.166666667rem; position:absolute; top:50%; right:0.266666667rem; border-top:0.066666667rem solid #000; border-right:0.066666667rem solid #000; transform:rotate(45deg); }

.table-view1 .tit-area{ padding:1.333333333rem; position:static; border-top:1px solid #ebe7e7; word-break:break-all; text-align:left; }
.table-view1 .tit-area .tit{ font-size:0.666666667rem; }
.table-view1 .tit-area .tit.color-gray{ font-size:0.6rem; }
.table-view1 .tit-area .date{ margin-top:0.333333333rem; display:block; font-weight:400; text-align:right; }
.table-view1 .tit-area .date > span{ padding-left:0.666666667rem; position:relative; }
.table-view1 .tit-area .date > span:after{ content:''; width:1px; display:block; position:absolute; top:4px; left:0.266666667rem; bottom:2px; background-color:#ddd; }
.table-view1 .tit-area .date > span:first-child:after{ display:none; }
.table-view1 .txt-area{ padding:1.333333333rem; word-break:break-all; }
.table-view1 .file-area > a{ margin:0.166666667rem auto; display:block; font-size:0.466666667rem; text-decoration:underline; }

.table-view2 table{ border-top-color:#000; }
.table-view2 .sticker-black{ margin-right:0.1rem; }

.table-view2 .tit-area{ padding:0.666666667rem 1.333333333rem; word-break:break-all; text-align:left; }
.table-view2 .txt-area{ padding:0.666666667rem 1.333333333rem; word-break:break-all; }
.table-view2 .file-area > a{ margin:0.166666667rem auto; display:block; font-size:0.466666667rem; text-decoration:underline; }

.table-btn{ font-size:0; }
.table-btn > .btn{ margin:0 0.166666667rem; }


/* form */
.form-small > ul > li{ padding:0.333333333rem 0; }
.form-small .form-radio{ margin-bottom:0.333333333rem; padding:0 0.5rem; }
.form-small [class*='type']{ width:100%; display:table; table-layout:fixed; }
.form-small [class*='type'] > *{ padding:0 0.166666667rem; display:table-cell; }
.form-small [class*='type'] > *:first-child{ padding-left:0; }
.form-small [class*='type'] > *:last-child{ padding-right:0; }
.form-small [class*='type'] .select:after{ right:0.833333333rem; }
.form-small .type-col2 > .input-text{ width:75%; position:relative; }
.form-small .type-col2 > .input-text .time{ line-height:1.733333333rem; position:absolute; top:0; right:0.666666667rem; bottom:0; font-size:0.466666667rem; color:#999; }
.form-small .type-col2 > span{ width:25%; }
.form-small .type-col4 > *{ width:25%; }
.form-small .select, .form-small .btn{ margin-top:auto; font-size:0.466666667rem; }
.form-small .form-btn{ margin:0.666666667rem -0.333333333rem 0; display:-ms-flexbox; display:-webkit-flex; display:flex; }
.form-small .form-btn > *{ width:auto; margin:0 0.333333333rem; flex:1; }
.form-small .form-btn .btn{ height:2rem; line-height:1.933333333rem; border-radius:1rem; font-size:0.6rem; }

.form-agree{ font-size:0.466666667rem; }
.form-agree .agree-tit{ margin-bottom:0.166666667rem; }
.form-agree .agree-list li{ position:relative; color:#3d3c3c; }
.form-agree .agree-list li > .txt-link{ position:absolute; right:0; font-size:0.4rem; }

.form-type1 .form-radio > .input-radio{ margin-right:0.333333333rem; }
.form-type1 .input-text input, .form-type1 .select select{ height:1.333333333rem; line-height:1.266666667rem; border:1px solid #ebe7e7; }

/* 공지사항 */
.container-prview{ position:relative; }
.container-prview .notice-content{ margin-bottom:1rem; padding-bottom:0.666666667rem; position:relative; border-bottom:1px solid #ebe7e7 }
.container-prview .notice-content [class*='sticker']{ position:absolute; top:0.133333333rem; left:0; }
.container-prview .notice-content .tit-link{ line-height:1.266666667rem; padding-left:5rem; }
.container-prview .btn-qna{ position:absolute; top:0; right:1.066666667rem; }

/* popup */
/* S : 기존 택배 신청 배너 / 배너 관리자 작업 후 삭제 예정 */
.container-popup{ width:16.66666667rem; position:absolute; top:0; right:0; background-color:#fafafa; border:1px solid #ebe7e7; z-index:99; }
.container-popup .content-layout{ padding:1.333333333rem; }
.container-popup .txt-area{ margin-bottom:0.666666667rem; word-break:keep-all; }
.container-popup .content-btn{ width:100%; display:table; background-color:#fff; border-top:1px solid #ebe7e7; table-layout:fixed; }
.container-popup .content-btn > a{ height:1.666666667rem; display:table-cell; border-left:1px solid #ebe7e7; text-align:center; vertical-align:middle; }
.container-popup .content-btn > a:first-child{ border-left:none; }
/* E : 기존 택배 신청 배너 / 배너 관리자 작업 후 삭제 예정 */

.popup-wrap{ position:absolute; top:0; right:0; z-index:99; }
.popup-wrap .popup-container{ width:16.66666667rem; margin-top:0.333333333rem; position:relative; }
.popup-wrap .popup-container:first-child{ margin-top:0; }
.popup-wrap .popup-container .popup-content{ padding:1.333333333rem; background-color:#fafafa; background-size:100% 100%; background-position:50% 50%; background-repeat:no-repeat; border:1px solid #ebe7e7; }
.popup-wrap .popup-container .popup-content .img-area{ margin-top:0.5rem; text-align:center; }
.popup-wrap .popup-container .popup-content .img-area img{ max-width:100%; }
.popup-wrap .popup-container .popup-content .btn-area{ margin-top:0.5rem; }
.popup-wrap .popup-container .popup-btn{ width:100%; display:table; background-color:#fff; border:1px solid #ebe7e7; border-top:none; table-layout:fixed; }
.popup-wrap .popup-container .popup-btn > a{ height:1.666666667rem; display:table-cell; border-left:1px solid #ebe7e7; text-align:center; vertical-align:middle; }
.popup-wrap .popup-container .popup-btn > a:first-child{ border-left:none; }


/* lecture-container */
.lecture-container .container-prview .notice-content{ padding-right:0; }
.lecture-container .container-prview .notice-content .tit-link{ padding-left:4rem; }

/* live table */
.live-container .table-type2 table tr td{ padding:0; }
.live-container .table-type2 table tr td > a{ padding:0.666666667rem 0; display:block; word-break:break-all; }
.live-container .table-type2 table tr td > a > em{ margin-bottom:0.166666667rem; display:block; font-size:0.466666667rem; }
.live-container .table-type2 table tr th.today, .live-container .table-type2 table tr td.today{ background-color:rgba(243, 55, 55, .05); }
.live-container .table-type2 table tr th.today span{ background-color:#f33737; font-weight:700; color:#fff; }
.live-container .table-type2 table tr td.on{ border:2px solid #f33737; font-weight:700; }
.live-container .table-type2 table tr td.on > a{ position:relative; }
.live-container .table-type2 table tr td.on > a:after{ content:'LIVE'; height:1rem; line-height:0.933333333rem; padding:0 0.8rem; display:block; position:absolute; top:0; left:0; background-color:#f33737; border-radius:1rem; font-weight:700; color:#fff; transform:translate(-0.666666667rem, -0.666666667rem); }

.live-container.index-container .table-type2{ overflow-x:auto; }
.live-container.index-container .table-type2 table{ min-width:700px; }
.live-container.index-container .table-type2 table tr td{ padding:0.166666667rem 0.666666667rem; text-align:left; }
.live-container .table-type2 table tr td [class^='sticker']{ height:0.8rem; line-height:0.733333333rem; margin-bottom:0.333333333rem; padding:0 0.333333333rem; font-size:0.4rem; }
.live-container .table-type2 table tr td .name{ display:block; font-size:0.466666667rem; }
.live-container .table-type2 table tr td .tit{ margin-bottom:0.166666667rem; display:block; font-weight:700; }
.live-container .table-type2 table tr td .time{ display:block; font-size:0.466666667rem; }

/* monthly */
.monthly-btn{ margin:0 -0.333333333rem; padding-top:1rem; text-align:right; }
.monthly-btn > *{ margin:0 0.333333333rem; }

.monthly-container .container-info{ word-break:keep-all; }
.monthly-container .container-info .border-box{ padding:1.333333333rem; border:1px solid #dfdfdf; }
.monthly-container .container-info .table-type1{ margin:0.333333333rem auto 0.666666667rem; }
.monthly-container .container-info .table-type1 table{ width:auto; table-layout:auto; }

#container.exam-container{ height:100%; max-width:100%; padding:0; overflow:hidden; }
#container.exam-container .container-exam{ height:100%; }
#container.exam-container .container-exam > .exam-tit{ padding:0.666666667rem 1.066666667rem 0.666666667rem; display:flex; position:absolute; top:0; left:0; right:0; background-color:#000; }
#container.exam-container .container-exam > .exam-tit .tit-dep1{ max-width:calc( 100% - 13.33333333rem ); margin-bottom:0; color:#fff; }
#container.exam-container .container-exam > .exam-tit .tit-dep1 .tit-link:hover{ text-decoration:none; }
#container.exam-container .container-exam > .exam-tit .exam-timer{ width:12.66666667rem; height:2.785714286rem; margin-left:auto; padding:0 2.142857143rem; display:flex; float:right; background-color:#ebe7e7; border-radius:0.333333333rem; font-size:1.285714286rem; font-weight:700; justify-content:space-around; align-items:center; }

#container.exam-container .container-exam > .exam-content{ height:100%; padding:6.333333333rem 1.066666667rem 3.666666667rem; }
#container.exam-container .container-exam > .exam-content .tab-type1{ padding:0 1.066666667rem; position:absolute; top:4.5rem; left:0; right:0; }
.exam-content .exam-view{ position:relative; overflow:hidden; }
.exam-content .exam-view > .iframe-area, .exam-content .exam-view > .info-area{ width:100%; height:100%; position:absolute; top:0; left:0; right:0; bottom:0; background-color:#999; border-bottom:1px solid #dfdfdf; }
.exam-content .exam-view > .info-area{ padding-bottom:0; display:flex; background-color:#fff; border:1px solid #ebe7e7; font-size:1rem; font-weight:700; justify-content:center; align-items:center; }
.exam-content .exam-omr{ border-left:1px solid #ebe7e7; }
.exam-content .exam-omr .table-type1 tr td{ padding:0; }
.exam-content .exam-omr .table-type1 tr td > label{ padding:0.666666667rem 0; display:block; text-align:center; }
.exam-content .exam-omr .table-type1 tr td > label input[type='radio']{ -webkit-appearance:radio; }
.exam-content .exam-omr .table-type1 tr td > .input-radio{ padding:0.666666667rem 0; display:block; text-align:center; }

#container.exam-container .container-exam > .monthly-btn{ padding:0.833333333rem 1.066666667rem; display:flex; position:fixed; left:0; right:0; bottom:0; background-color:#fff; }
#container.exam-container .container-exam > .monthly-btn > *{ height:1.666666667rem; line-height:1.6rem; margin:0 0.333333333rem; flex:1; }

/* PC */
@media all and (min-width:1025px) and (orientation:portrait), all and (min-width:1337px) and (orientation:landscape){
    #container.exam-container .container-exam > .exam-content{ display:flex; }
    .exam-content .tab-type1{ *zoom:1; }
    .exam-content .tab-type1:after{ content:''; display:block; clear:both; }
    .exam-content .tab-type1 > a{ width:16.66666667rem; margin:0; display:block; float:right; border-bottom:none; text-align:left; color:#000; cursor:default; }
    .exam-content .tab-type1 > a:first-child{ float:left; }

    #container.exam-container .container-exam > .exam-content .tab-content{ height:100%; display:block !important; }
    .exam-content .exam-view{ flex:1; margin-right:0.666666667rem; overflow:hidden; }
    .exam-content .exam-omr{ width:16.66666667rem; margin-left:auto; overflow-x:hidden; overflow-y:auto; }
    .exam-content .exam-omr .table-type1 tr th, .exam-content .exam-omr .table-type1 tr td{ padding:0.333333333rem; }
}

/* briefing */
.box-gray{ padding:1.066666667rem; background-color:#eee; border-radius:1rem; text-align:left; }

/* player */
.player-container .container-player{ padding:0 1.066666667rem; }
.player-container .container-player .info-area > div{ display:flex; position:absolute; top:0; left:0; right:0; bottom:0; font-size:1.2rem; color:#fff; justify-content:center; align-items:center; }

/* teachers */
.teachers-container .table-type1 table tr th.tit-area, .teachers-container .table-type1 table tr td.tit-area{ width:70%; }
.teachers-container .table-type1 table tr td.tit-area > a{ width:100%; display:block; }
.teachers-container .table-type1 table tr td.tit-area > a > span{ width:100%; display:inline-block; position:relative; overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; vertical-align:middle; }
.teachers-container .table-type1 table tr td.tit-area > a:hover > span{ text-decoration:underline; }
.teachers-container .table-type1 table tr td.tit-area > a > span.tit{ width:auto; max-width:100%; padding-right:0.833333333rem; position:relative; }
.teachers-container .table-type1 table tr td.tit-area > a > span.tit:after{ content:''; width:0.333333333rem; height:0.333333333rem; margin-top:-0.166666667rem; position:absolute; top:50%; right:0.266666667rem; border-top:0.066666667rem solid #000; border-right:0.066666667rem solid #000; transform:rotate(45deg); }
.teachers-container .table-type1.table-view1 table tr th, .teachers-container .table-type1.table-view2 table tr th{ width:auto; }

/* delv */
.delv-container .table-type1 table{ table-layout:auto; }
.delv-container .table-type1 .btn-area{ margin:0 -0.166666667rem; display:flex; justify-content:center; }
.delv-container .table-type1 .btn-area > *{ max-width:6.666666667rem; min-width:3rem; margin:0 0.166666667rem; }

/* faq */
.faq-container .tit-dep4{ margin:1rem auto 0.333333333rem; }