@charset "utf-8";
.pt0{ padding-top:0 !important; }
.pb0{ padding-bottom:0 !important; }
.pl2{ padding-left:2.4rem; }
.bd1{ padding:0 0.8rem 0 0.4rem !important; }
.overflow{ overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; vertical-align:middle; }
.tit-dep1{ margin-bottom:0; overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; vertical-align:middle; }
.orm-container{ padding:0.666666667rem 0 50px !important; }
.orm-container .orm-header{ width:100%; background-color:#000; }
.orm-container > *, .orm-container .btn-area a, .select select{ font-size:15px; }

.exam-content{ padding:0 1.066666667rem; }
.exam-content .orm-select{ margin:20px 0; border:1px solid #ebe7e7; border-bottom:none; }
.exam-content .orm-select .select select{ line-height:48px; height:50px; }
.exam-content .btn-area{ text-align:center; }
.exam-content .btn-area .btn{ line-height:38px; height:40px; padding:0 20px; border-radius:50px; font-size:15px; }

/* exam */
.orm-container .orm-content { height:100%; position:relative; }
.orm-container .orm-content > *{ font-size:15px; }
.orm-container .orm-content .list-number, .orm-container .orm-content .list-dash{ padding:0.4rem; }
.orm-container .orm-content .table-type1 table tr td{ margin:0 auto; padding:20px; text-align:center; }

.orm-container .orm-content .ico-num{ font-size:16px; text-indent:0; }
.orm-container .orm-content .input-radio input[type="radio"]:checked ~ .ico{ width:16px; height:16px; background-color:#000; border:1px solid #000; border-radius:50%; text-indent:-9999px; }

.orm-container .orm-content .btn-area{ width:100%; position:fixed; left:0; right:0; bottom:0; border-top:1px solid #000; background-color:#fff; }
.orm-container .orm-content .btn-area a{ line-height:48px; height:50px; border-radius:0; font-size:18px; }

.score-area{ margin:0.3rem 0.3rem 0.2rem 0.3rem; display:flex; border-top:2px solid #000; border-bottom:2px solid #000; }
.score-area ul{ width:50%; border-left:2px solid #000; text-align:center; box-sizing:border-box;  }
.score-area ul:first-child{ border-left:none; }
.score-area ul li{ padding:0.4rem; }
.score-area ul li:first-child{ border-bottom:2px solid #000; font-weight:700; }