/*CSS for StarPlayer Skin UI*/
@charset "utf-8";

.starplayer_script_ui {
	text-decoration:none;
	text-align:left;
	
	font-family:돋움, Dotum, Helvetica, Apple SD Gothic Neo, sans-serif;
	font-size:13px; 
	color:#ffffff;
	display:block;
	font-weight:500;
	/*width:720px;
	height:81px;*/
	background:url('../img/bg.png') repeat-x 0 0;
	
}

.btn_common {
	display:block;
	cursor:pointer;
}

.top_area {
	position:relative;
	margin:0;
	padding:0;
	display:block;
	width:100%;
	height:34px;
}

.bottom_area {
	position:relative;
	margin:0;
	padding:0;
	display:block;
	width:100%;
	height:46px;
}


.seekbar_l {
	position:absolute;
	display:block;
	left:20px;
	top:22px;
	right:20px;
	/*width:535px;*/
	height:12px;
	background:url('../img/bar_total.png') repeat-x 0px 0px;
}

.seekbar_area {
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	right:7px;
	height:100%;
}


.volumebar_area {
	position:absolute;
	display:block;
	left:18px;
	top:20px;
	height:100px;
	width:5px;
	z-index:200;
	background:url('../img/bar_sound_total.png') repeat-y 0px 0px;
}


.seekbar_r {
	position:absolute;
	display:block;
	float:right;
	right:0px;
	width:175px;
	height:19px;
}

.control_l {
	position:relative;
	float:left;
	width:300px;
	height:46px;
}

.control_r {
	position:relative;
	float:right;
	width:300px;
	height:46px;
}

.btn_seek, .btn_volume  {
	position:absolute;
	left:0px;
	top:-1px;
	width:14px;
	height:10px;
	z-index:100;
	/*background:url('../img/starplayer_ui.png') no-repeat -15px 0;*/
}

.btn_repeatA {
	position:absolute;
	left:0px;
	top:-14px;
	width:6px;
	height:12px;
	z-index:90;
	background:url('../img/sdij.png') no-repeat -310px -50px;
}

.btn_repeatB {
	position:absolute;
	left:0px;
	top:-14px;
	width:6px;
	height:12px;
	z-index:90;
	background:url('../img/sdij.png') no-repeat -310px -30px;
}

.currentbar {
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	/*right:178px;*/
	/*width:535px;*/
	height:12px;
	background:url('../img/bar_play.png') repeat-x 0px 0px;
}

.current_volumebar {
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	/*right:178px;*/
	/*width:535px;*/
	width:4px;
	background:url('../img/bar_sound_select.png') repeat-y 0px 0px;
}

.repeatbar {
	position:absolute;
	display:block;
	left:40px;
	top:0px;
	height:4px;
	/*background:url('../img/repeat_bar.jpg') repeat-x 0px 0px;*/
}

.basic_controls {
	position:absolute;
	left:20px;
	top:15px;
	display:block;
	width:300px;
	height:16px;
	
}

.basic_controls2 {
	position:absolute;
	right:20px;
	top:15px;
	display:block;
	width:280px;
	height:16px;

}

.control_text_status {
	position:absolute;
	display:block;
	top:2px;
	left:140px;
	width:60px;
	height:16px;
	color:#DB9700;

}

.control_text_time {
	position:absolute;
	display:block;
	text-align:left;
	top:2px;
	left:200px;
	width:180px;
	height:16px;
}
#text_currentTime{

	color:#DB9700;


}


.btn_play {
	position:absolute;
	width:12px;
	height:16px;
	background:url('../img/sdij.png') no-repeat -50px -80px;
}


.btn_play:hover{
	background:url('../img/sdij.png') no-repeat -70px -80px;
}

.btn_pause {
	position:absolute;
	width:12px;
	height:16px;
	background:url('../img/sdij.png') no-repeat -60px -60px;
}

.btn_pause:hover{
	background:url('../img/sdij.png') no-repeat -30px -70px;
}

.btn_stop {
	position:absolute;
	left:24px;
	width:14px;
	height:16px;
	background:url('../img/sdij.png') no-repeat -0px -20px;
} 

.btn_stop:hover{
	background:url('../img/sdij.png') no-repeat -20px -20px;
}

.btn_backward {
	position:absolute;
	left:50px;
	width:16px;
	height:16px;
	background:url('../img/sdij.png') no-repeat -90px -0px;
}

.btn_backward:hover{
	background:url('../img/sdij.png') no-repeat -90px -20px;
}

.btn_forward{
	position:absolute;
	left:78px;
	width:16px;
	width:16px;
	height:16px;
	background:url('../img/sdij.png') no-repeat -40px -0px;
}

.btn_forward:hover{
		background:url('../img/sdij.png') no-repeat -40px -20px;
}

.btn_repeat {
	position:absolute;
	left:106px;
	width:19px;
	height:16px;
	background:url('../img/sdij.png') no-repeat -90px -40px;
}

.btn_repeat.active1,.btn_repeat.active1:hover {
	background:url('../img/sdij.png') no-repeat -160px -0px;
}


.btn_repeat:hover, .btn_repeat.active{
	background:url('../img/sdij.png') no-repeat -80px -60px;
}

.btn_rate{
	position:absolute;
	right: 84px;
	width:23px;
	height:16px;
	background:url('../img/sdij.png') no-repeat -160px -110px;
}

.btn_rate:hover {
	background:url('../img/sdij.png') no-repeat -280px -90px;
}

.rate_popup{
	width:40px;
	left:-8px;
	height:170px;
	top:-178px;
	position: absolute;
	/*background-color:#333333;*/
	  background: #333333; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #333333 , #333333); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #333333 , #333333); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #333333 , #333333); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#333333 , #333333); /* Standard syntax */
	font-size:11px;
	z-index:100;


}

.btn_fullscreen {
	position:absolute;
	right:58px;
	width:14px;
	height:16px;
	background:url('../img/sdij.png') no-repeat -90px -80px;
}

.btn_fullscreen:hover{
	background:url('../img/sdij.png') no-repeat -0px -100px;
}



.btn_bookmark{
	position:absolute;
	width:16px;
	height:16px;
	right:0px;
	background:url(http://img.sdij.com/sd2019/pc/ico/ico_playmenu.png) 50% 0 no-repeat;

}

.btn_bookmark:hover, .btn_bookmark.active{
	background:url(http://img.sdij.com/sd2019/pc/ico/ico_playmenu.png) 50% 0 no-repeat;
}
.btn_volume_popup{
	position:absolute;
	width:19px;
	height:16px;
	right:27px;
	background:url('../img/sdij.png') no-repeat -70px -100px;
}

.btn_volume_popup:hover{
	background:url('../img/sdij.png') no-repeat -90px -100px;
}

.btn_volume_popup.active{
	background:url('../img/sdij.png') no-repeat -30px -90px;
}

.btn_volume_popup.active:hover{
	background:url('../img/sdij.png') no-repeat -50px -100px;
}



.volumebar {
	position:absolute;
	top:-162px;
	left:-10px;
	width:40px;
	height:154px;
	background: #333333; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #333333 , #333333); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #333333 , #333333); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #333333 , #333333); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right,#333333 , #333333); /* Standard syntax */
	z-index:100;
}

.btn_mute{
	position:absolute;
	bottom:10px;
	left:11px;
	width:18px;
	height:16px;
	background:url('../img/sdij.png') no-repeat -30px -90px;

}

.btn_mute:hover{
	background:url('../img/sdij.png') no-repeat -50px -100px;
}

.btn_mute.active{
	background:url('../img/sdij.png') no-repeat -70px -100px;
}

.btn_mute.active:hover{
	background:url('../img/sdij.png') no-repeat -90px -100px;
}


.speed_controls {
	margin:10px 0px 0 -40px;
}

.speed_controls li {
	display:inline;
	list-style-type:none;
	float:left;
	margin:0;
	padding:0;
}

.btn_speed06{
	
	width:40px;
	height:10px;
	margin-bottom:10px;
	background:transparent url('../img/sdij.png') no-repeat -110px -0px;
}

.btn_speed06:hover, .btn_speed06.active {
	background:url('../img/sdij.png') no-repeat -110px -10px;
}


.btn_speed08{
	
	width:40px;
	height:10px;
	margin-bottom:10px;
	background:transparent url('../img/sdij.png') no-repeat -110px -20px;
}

.btn_speed08:hover, .btn_speed08.active {
	background:url('../img/sdij.png') no-repeat -110px -30px;
}

.btn_speed10{
	width:40px;
	height:10px;
	margin-bottom:10px;
	background:transparent url('../img/sdij.png') no-repeat -110px -40px;
}

.btn_speed10:hover, .btn_speed10.active {
	background:transparent url('../img/sdij.png') no-repeat -110px -50px;
}

.btn_speed12{
	width:40px;
	height:10px;
	margin-bottom:10px;
	background:transparent url('../img/sdij.png') no-repeat -100px -60px;
}

.btn_speed12:hover, .btn_speed12.active {
	background:transparent url('../img/sdij.png') no-repeat -100px -70px;
}

.btn_speed14{
	width:40px;
	height:10px;
	margin-bottom:10px;
	background:transparent url('../img/sdij.png') no-repeat -110px -80px;
}

.btn_speed14:hover, .btn_speed14.active {
	background:transparent url('../img/sdij.png') no-repeat -110px -90px;
}

.btn_speed16{
	width:40px;
	height:10px;
	margin-bottom:10px;
	background:transparent url('../img/sdij.png') no-repeat -110px -100px;
}

.btn_speed16:hover, .btn_speed16.active {
	background:transparent url('../img/sdij.png') no-repeat -110px -110px;
}

.btn_speed18{
	width:40px;
	height:10px;
	margin-bottom:10px;
	background:transparent url('../img/sdij.png') no-repeat -0px -120px;
}

.btn_speed18:hover, .btn_speed18.active {
		background:transparent url('../img/sdij.png') no-repeat -50px -120px;
}

.btn_speed20{
	width:40px;
	height:9px;
	margin-bottom:10px;
		background:transparent url('../img/sdij.png') no-repeat -100px -120px;
}

.btn_speed20:hover, .btn_speed20.active {
		background:transparent url('../img/sdij.png') no-repeat -0px -130px;
}

.fullscreen_controller{
        opacity : 0.8;
        filter: alpha(opacity=80);
        -moz-opacity:0.8;
        -khtml-opacity: 0.8;
}

#video-container {
	position:relative;
	margin:0;
	padding:0;
	display:block;
	width:100%;
	height:100%;
}

#watermark {
	position:absolute;
	left:0px;
	top:0px;
	float:left;
	margin:0;
	padding:0;
	height:40px;
/*	text-align: left;*/
	text-transform: uppercase;
	font-weight: bold;
	font-size: 150%;
	color: #ffffff;
	opacity : 0.4;
	filter: alpha(opacity=40);
        -moz-opacity:0.4;
        -khtml-opacity: 0.4;
}

/* .sideframe{
position:absolute;
background:white;
right:0;
top:0;
border:none;
} */
#subtitle {
	position:absolute;
	display: none;
	left:0px;
	top:-300px;
	float:left;
	margin:0;
	padding:0;
	height:60px;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
	color: #ffffff;
	opacity : 0.9;
	filter: alpha(opacity=90);
        -moz-opacity:0.9;
        -khtml-opacity: 0.9;
	text-shadow: 0 0 2px black;
	-moz-text-shadow: 0 0 2px black;
	-webkit-text-shadow: 0 0 2px black; 
}

.info-layer{ width:228px; height:138px; margin-top:-70px; margin-left:-115px; position:absolute; top:50%; left:50%; background-color:rgba(55, 55, 55, .85); border:1px solid #000; z-index:9999; text-align:center; }
.info-layer .tit{ line-height:22px; padding-top:25px; font-size:12px; color:#ccc; }
.info-layer .btn{ margin-top:25px; font-size:0; }
.info-layer .btn > a{ width:70px; height:20px; line-height:18px; display:inline-block; background-color:#ffad00; border:1px solid #000; border-radius:2px; font-size:11px; color:#000; text-decoration:none; }
.info-layer .btn > .btn-cancle{ margin-right:5px; background-color:#a4a5a5; }

.btn-menu{ width:16px; height:16px; display:block; position:absolute; right:0px; background:url(http://img.sdij.com/sd2019/pc/ico/ico_playmenu.png) 50% 0 no-repeat; text-indent:-9999em; }
.btn_bookmark.btn-menu:hover, .btn_bookmark.btn-menu.active{ background:url(http://img.sdij.com/sd2019/pc/ico/ico_playmenu.png) 50% 100% no-repeat; }

.sideframeWrap{ width:220px; position:absolute; top:0; right:0; bottom:80px; }