/*응시원서접수*/
.table-wrap table{
  width:100%;
  margin:0 0 25px 0;
}
.table-wrap table th{
  text-align: left;
  line-height: 120%;
  padding:3% 0 0 0;
  min-width:68px;
  vertical-align:top;
  color:#000000;
}
.table-wrap table td{
  line-height: 120%;
  padding:3% 0 0 0;
  color:#000000;
}
.table-wrap table tr:first-child th,
.table-wrap table tr:first-child td{
  padding:0;
}
.btn-list{
  text-align: center;
  padding:0 0 25px 0;
  border-bottom:1px #626262 solid;
  margin:0 0 50px 0;
}
.btn-list a{
  border:1px #626262 solid;
  display: block;
  line-height: 40px;
  height: 40px;
  font-size:15px;
  font-weight:600;
  margin:15px 0 0 0;
  color:#626262;
}
.btn-list a:first-child{
  margin:0;
}
.squared_list > li{
  margin:50px 0 0 0;
}
.squared_list > li:first-child{
  margin:0;
}
.squared_list > li .th{
  display: block;
  font-size:15px;
  font-weight:600;
  margin:0 0 7px 0;
}
.squared_list > li .detail{
  border:1px #626262 solid;
  padding:15px;
}
.squared_list > li .detail .mid-th{
  font-weight: 600;
  font-size:16px;
  margin:0 0 10px 0
}
.squared_list > li .detail .mid-th span{
  display: inline-block;
  font-size:12px;
}
.squared_list > li .detail span{
  display: block;
}
.squared_list > li .detail > ul > li{
  margin:35px 0 0 0;
}
.squared_list > li .detail > ul > li:first-child{
  margin:0;
}
.squared_list > li .detail ul li span{
  display: block;
  font-weight: 600;
  padding:0 0 10px 0;
}
.dot_txt{}
.dot_txt li{
  margin:8px 0 0 0;
  padding:2px 0 2px 9px;
  font-size:13px;
  line-height: 100%;
  position:relative;
}
.dot_txt li:first-child{
  margin:0;
}
.dot_txt li:before{
  content: "";
  position:absolute;
  left:0;
  top:5px;
  width:4px;
  height:4px;
  background:#000;
  border-radius:50px;
  border:1px #000 solid;
}
.squared_list > li .detail > a{
  display: block;
  text-align: center;
  font-size:15px;
  line-height: 40px;
  height: 40px;
  margin:20px 0 0 0;
}
.dot_txt li em{
  display: block;
  font-size:12px;
  line-height:13px;
  margin:8px 0 0 0;
}
/*폼*/
.form-apply{

}
.form-apply .top-t{
  width:100%;
  border-bottom:1px #d0d0d0 solid;
}
.form-apply .top-t th{
  text-align: left;
  vertical-align: top;
}
.form-apply .top-t td .num-txt{
  font-size:30px;
  line-height: 100%;
}
.form-apply .top-t td,
.form-apply .top-t th{
  padding:25px 0 15px 0;
}
.form-apply .top-t tr{
  border-top:1px #626262 solid;
}
.form-apply .top-t tr.info-txt,
.form-apply .top-t tr:first-child{
  border-top:0;
}
.form-apply .top-t tr.info-txt td,
.form-apply .top-t tr.info-txt th,
.form-apply .top-t tr:first-child th,
.form-apply .top-t tr:first-child td{
  padding:0 0 15px 0;
}
.form-apply .list-form{
  width:100%;
}
.form-apply .list-form.no-border{
  border-bottom:1px #626262 solid;
}
.form-apply .list-form > li{
  border-top:1px #626262 solid;
  padding:25px 0;
}
.form-apply .list-form.no-border > li{
  border:0;
  padding:35px 0 0 0;
}

.form-apply .list-form > li:last-child{
  padding:25px 0 0 0;
}
.form-apply .list-form > li:first-child{
  border-top:0;
}
.form-apply .list-form > li.no-pd{
  padding:0;
}
.form-apply .list-form.no-border > li:first-child{
  padding:0;
}
.form-apply .list-form > li .input-text{
  height: 40px;
  line-height: 40px;
  font-size:13px;
  letter-spacing: -1px;
}
.form-apply .list-form > li  textarea{
  width:100%;
  padding:3%;
  border:1px #dadada solid;
  font-size:13px;
  color:#666666;
  line-height: 120%;
  box-shadow: none;
  -webkit-appearance: none;
}
.form-apply .small-date{
  width:100%;
}
.form-apply .small-date th{
  padding:5px 5px 5px 0;
  font-size:12px;
}
.form-apply .small-date td{
  padding:5px;
  text-align: center;
}
.form-apply .small-date select,
.form-apply .small-date input{
  width:100%;
}
.form-apply .number-group{
  overflow:hidden;
  font-size:0;
}
.form-apply .number-group input,
.form-apply .number-group select{
  width:32%;
  margin:0 0 0 2%;
  box-sizing: border-box;
}
.form-apply .number-group select:first-child{
  margin:0
}
.form-apply .email-group{
  overflow: hidden;
  font-size:0;
}
.form-apply .email-group .info-t{
  display:inline-block;
  vertical-align: middle;
  font-size:12px;
  width:3%;
  text-align:center;
  margin:0 0 0 2%;
}
.form-apply .email-group input[type="text"],
.form-apply .email-group select{
  width:30%;
  display: inline-block;
  vertical-align:middle;
  margin:0 0 0 2%;
}
.form-apply .email-group input[type="text"]:first-child{
  margin:0;
}
.form-apply .email-group select{
  width:31%;
}
.form-apply .th-txt{
  display: block;
  font-weight: 600;
  margin:0 0 10px 0;
}
.form-apply .th-txt.gray{
  color:#666666
}
.form-apply .th-txt.big{
  font-size:16px;
}
.form-apply .dash-txt{
  margin:0 0 20px 0;
}
.form-apply .dash-txt li{
  padding:0 0 0 12px;
  position:relative;
}
.form-apply .dash-txt li:before{
  content: "-";
  position:absolute;
  left:0;
  top:0;
  width:10px;
}
.form-apply .set-input{
  margin:0 0 10px 0;
  overflow: hidden;
  height: 40px;
}
.form-apply .set-input input[type="text"],
.form-apply .set-input select,
.form-apply .set-input a{
  float:left;
  width:66%;
  height: 100%;
  box-sizing: border-box;
}
.form-apply .set-input a,
.form-apply .file label,
.form-apply .set-input .address-btn{
  float:right;
  border:0;
  line-height: 40px;
  text-align: center;
  color:#ffffff;
  width:32%;
  background:none;
  background:#626262;
  box-sizing: border-box;
}
.form-apply .set-input input[type=text] + .input-text{
  border:1px solid #ccc;
  float:right;
  width:32%;
}

.form-apply .file input[type="text"],
.form-apply .file label{
  display:inline-block;
  *display:inline;
  zoom:1;
}
.form-apply .file input[type="file"]{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.form-apply .layout-t{width:100%;border-bottom:0;}
.form-apply .layout-t td{text-align:center;padding:10px 0 0 0}
.form-apply .layout-t td.info-txt{text-align: left;padding:20px 0 0 0}
.form-apply .layout-t tr:first-child td{padding:0;}


.img_input{
  border:1px #dadada solid;
  background:#f0f0f0;
  width:140px;
  height:185px;
  margin:0 auto;
}
.img_input a{
  display: block;
  height:100%;
  width:100%;
  background:none;
  font-size:0;
  background:url('http://img.sdij.com/sd2019/mobile/ico/ico-pic-bg.png') no-repeat 50% 40%;
  position:relative;
}
.img_input a:before{
  content: "140X185";
  font-size:20px;
  color:#666666;
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  font-weight:300;
}
.scroll-box{
  border:1px #dadada solid;
  padding:15px;
  color:#666666;
  line-height: 135%;
  height:100px;
  overflow-y: scroll;
  word-break: keep-all;
}


.file-btn{
  display: block;
  line-height: 40px;
  text-align: center;
  color:#ffffff;
  width:32%;
  min-width:75px;
  background:none;
  background:#626262;
}
.small-btn{
  display: inline-block;
  line-height: 30px;
  height: 30px;
  text-align: center;
  color:#ffffff;
  width:60px;
  background:#b5b5b5;
}
*[data-list="file"] {
  margin:15px 0;
}
*[data-list="file"] li{
  text-align:right;
  background:#ebebeb;
  border-top:1px solid #d2d2d2;
  border-bottom:1px solid #d2d2d2;
  padding:5px 10px 5px 0;;
}
*[data-list="file"] li:nth-child(n+2){
  border-top:none;
}
*[data-list="file"] li > span{
  float:left;
  width:70%;
  padding:0 0 0 2%;
  line-height:40px;
  text-align:left;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
*[data-list="file"] li *[data-btn="delete"],
*[data-list="file"] li .delete{
  font-size:0;
  width: 40px;
  height: 40px;
  background: url(http://img.sdij.com/mobile/common.png) no-repeat;
  background-size: 40rem auto;
  background-position: 0 -70.755rem;
}
*[data-list="file"] li *[data-btn="delete"] span,
*[data-list="file"] li .delete span{
  font-size:0;
}
.add-txt{
  display: block;
  line-height: 120%;
  margin:15px 0 0 0;
}
.add-txt.right{
  text-align: right;
}
.add-txt.small{
  font-size:13px;
}
.add-txt.big{
  font-size:15px;
}
.add-txt.color_01{
  color:#626262;
}
.form-apply .check{
  display: inline-block;
  min-width:90px;
  margin:0 10px 0 0;
  vertical-align: middle;
}
.form-apply .check input{
  height: 20px;
}
.form-apply .certification-num{
  overflow: hidden;
}
.form-apply .btn-group{
   margin:10px 0;
}
.form-apply .btn-group.right{
  text-align:right;
}
.form-apply .btn-group a{
  display: inline-block;
  text-align: center;
  background:#626262;
  color:#ffffff;
  height: 40px;
  line-height: 40px;
  width:32%;
  min-width:90px;
}
.form-apply .form-agree{
  padding:0 0 40px 0;
}
.form-apply .form-agree .radio{
  margin:10px 10px 0 0;
}

.form-detail{
}
.form-detail .board-btn{
  margin:0;
}
.form-detail .list-dotted{
  padding:0 0 25px 0;
  margin:0 0 25px 0;
  border-bottom:1px #626262 solid;
}
.form-detail table{
  width:100%;
  border-bottom:1px #626262 solid;
  margin:0 0 25px 0;
}
.form-detail table.small-date{
  border-bottom:0;
}
.form-detail table th{
  text-align:left;
  vertical-align:top;
  min-width:94px;
}
.form-detail table th,
.form-detail table td{
  padding:0 0 25px 0;
}
.form-apply .file label{
  float:right;
  line-height: 40px;
  text-align: center;
  color:#ffffff;
  width:32%;
  background:none;
  background:#626262;
  box-sizing: border-box;
}
.form-detail .file input[type="text"],
.form-detail .file label{
  display:block;
  text-align:center;
  background:#626262;
  line-height:40px;
  height:40px;
  color:#ffffff;
}
.form-detail .file input[type="file"]{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.file-list li{
  margin:5px 0 0 0;
}
.file-list li:first-child{
  margin:0;
}
.border-th{
  font-weight:600;
  margin:0 0 15px 0;
  display: block;
}
.border-table-pass{
  width:100%;
}
.form-detail .border-table-pass th{
  border-top:1px #000000 solid;
  border-bottom:1px #d1d1d1 solid;
  text-align: center;
  min-width:auto;
}
.form-detail .border-table-pass th,
.form-detail  .border-table-pass td{
  text-align: center;
  padding:15px 0;
  color:#000;
  font-size:13px;
}
.dim_box{
  padding: 20px;
  height: 100px;
  overflow-y: scroll;
  overflow-x:hidden;
  border: 1px solid #000;
}

*[data-title="type2"]{
  position:relative;
  margin:0 auto 20px auto;
  line-height:24px;
  font-size:18px;
  font-weight:600;
}
*[data-list="type13"]{
  margin:0 0 15px 0;
}
*[data-list="type13"] li{
  text-align:right;
}
*[data-list="type13"] li:nth-child(n+2){
  border-top:none;
}
*[data-list="type13"] li span{
  float:left;
  width:78%;
  font-size:16px;
  line-height:100%;
  text-align:left;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
 }
*[data-list="type13"].pass{
  margin:0 0 10px 0;
}
*[data-list="type13"].pass li{
  text-align:left;
}
*[data-list="type13"].pass > li > *{
  margin:15px 0 0 0;
  line-height:25px;
}
*[data-list="type13"].pass > li > *:first-child{
  margin:0;
}
*[data-list="type13"].pass li h4{
  font-size:15px;
  line-height:120%;
  font-weight:600;
}
*[data-list="type13"].pass li strong{
  display:block;
  color:#348ee3;
}
*[data-list="type13"].pass li b{
  display:block;
}
*[data-list="type13"].pass li ul li{
  line-height:22px;
  border:none;
  background:none;
}
*[data-list="type13"].pass li *[data-text="type1"].dash2 li:before{
  height:1px;
}
*[data-list="type13"].pass li *[data-text="type1"].star li:before{
  font-weight:600;
}

.line-txt {border-bottom:1px #626262 solid}
.line-txt > li{padding:30px 0;border-top:1px #b2b2b2 solid;}
.line-txt > li:first-child{border-top:0;padding-top:0;}
.line-txt > li .big{font-size:18px;font-weight:600;text-align:center;margin:0 0 20px 0}
.line-txt > li b{display: block;}


/*강사 입사 지원서*/
.step_num{text-align:right;letter-spacing:4px;color:#666666}
.step_num b{color:#000000;}

table.apply-t{width:100%;border-bottom:1px #626262 solid;word-break: keep-all;}
table.apply-t label{font-size:14px;color:#666}
.small-txt{font-size:12px;}
.total-num{border:1px #dadada solid;background:#fafafa;padding:14px 0}
.total-num b{display: block;text-align: center;color:#666666;}

.confirm-txt{font-size:15px;}
.confirm-txt.line{border-bottom:1px #ccc solid;9}
.confirm-txt span{display: block;font-weight: 600;font-size:18px;color:#000;}

.layout-t{border-bottom:1px #cccccc solid;width:100%;}
.layout-t.no-line{border:0;}
.layout-t tr:first-child th,
.layout-t tr:first-child td{padding:0 0 12px 0}
.layout-t tr.line{border-bottom:1px #dadada solid}
.layout-t th{padding:10px 0; text-align: left;color:#000;}
.layout-t td{padding:10px 0;color:#666}
.layout-t td a{color:#666}
.layout-t td .img-wrap{border:1px #dadada solid;width:140px; display:inline-block;}
.layout-t td .img-wrap img{display: block;max-width: 100%;margin:0 auto;}

.gray-list{margin:0 -20px;}
.gray-list li{border-top:1px #dadada solid;}
.gray-list ul li{padding:0 0 15px 0;color:#666666;}
.gray-list ul li .th{padding:12px 20px;background:#f1f1f1;color:#000;font-size:14px;font-weight:600;margin:0 0 10px 0;}
.gray-list ul li .cont{padding:0 20px;}
.gray-list ul li .cont a{display: block;color:#666}
.gray-list ul li a:hover{text-decoration:underline}