@charset "utf-8";

html, body, #wrap{ height:100%; background-color:#fff; counter-reset:section; }
#wrap{ width:100%; max-width:640px; height:auto; min-height:100%; margin:0 auto; overflow:hidden; }

/* header */
#header{ width:100%; font-size:12px; }
#header .gnb-area{ height:55px; line-height:53px; margin:0 auto; padding:0 20px; position:relative; background-color:#fff; z-index:1; }
#header .gnb-area .btn-gnb{ padding:0 10px; position:absolute; top:0; left:10px; background:none; font-size:0; }
#header .gnb-area h1{ margin-left:30px; font-weight:bold;}
#header .gnb-area .gnb-select{padding-right:15px;background:url(http://pub.sdij.com:8000/renew2019/img/ico/ico_gnb_select.png) 28px 50% no-repeat; font-weight:bold;border:none;vertical-align:text-top;height:20px;line-height:17px;font-size:12px;
display:inline-block;vertical-align:middle;margin-top:-3px;height:18px;}
#header .gnb-area .gnb-util > a{ margin-left:5px; display:inline-block; }


/* container */
#container{ position:relative; }
#container .nav-area{ width:100%; min-height:calc(100% - 21px); position:absolute; top:0; left:0; background-color:#fff; z-index:99; transform:translate(-110%, 0); transition:all 0.3s ease-in; }
#container.nav-on .nav-area{ position:relative; top:0; left:0; transform:translate(0, 0); transition:all 0.3s ease-in; z-index:2; }
#container .nav-area .nav{ margin-bottom:40px; padding-top:5px; }
#container .nav-area .nav ul li{ line-height:32px; font-size:20px; }
#container .nav-area .nav ul li a{ display:block; color:#626262; }
#container .nav-area .news-letter{ margin-bottom:40px; }
#container .nav-area .family-site{ margin-bottom:10px; }
#container .nav-area .family-site ul li{ line-height:26px; font-size:12px; }
#container .nav-area .family-site ul li a{ display:block; font-weight:bold; }
#container .nav-area .copyright ul li{ line-height:22px; font-size:12px; color:#626262; }
#container .nav-area .copyright ul li a{ color:#626262; }
#container .layout-container{ transform:translate(0, 0); transition:all 0.3s ease-in; }
#container .layout-container.no-transform{transform: initial;}
#container.nav-on .layout-container{ position:absolute; top:0; left:0; transform:translate(110%, 0); z-index:1; }
#container .btn-top{ position:absolute; right:10px; z-index:999; }
#container.nav-on .btn-top, #container.nav-on .page-btn{ display:none; }

.main-layout-container .floating-bnr{ position:absolute; top:6px; right:30px;}
.main-layout-container .floating-bnr ul{}
.main-layout-container .floating-bnr ul li{margin-bottom:10px; display:table;display:none;table-layout:fixed; width:80px;height:80px;border-radius:100%;border:1px #8a8a8a solid; background-color:#fff;}
.main-layout-container .floating-bnr li.on{display: table;}
.main-layout-container .floating-bnr a{display: table-cell;width:100%; line-height:16px; vertical-align: middle;text-align:center;font-size:12px;font-weight:600;letter-spacing: -1px;}

.main-layout-container .floating-bnr img{ width:100%; }
/* .main-layout-container .floating-bnr img.on{display: block;} */

.main-layout-container .tit-layout > .tab-content p:first-child{ padding-right:100px; }

/*레이어팝업*/
.layer-pop{position:fixed;  top:0;  left:0;  width:100%;  height:100%;  background:#ffffff;  z-index:9999;  background:rgba(0,0,0,0.8);}
.layer-pop .dim{ width:85%; height:100%; display:table; margin:0 auto; }
.layer-pop .mid-wrap{ display:table-cell; vertical-align:middle; }
.layer-pop .img-wrap{ max-width:360px; margin:0 auto; position:relative; font-size:0; }
.layer-pop .img-wrap a{ width:50%; display:block; position:absolute; z-index:10; }
.layer-pop .img-wrap a.link1{ top:0; left:0; bottom:0; }
.layer-pop .img-wrap a.link2{ top:0; right:0; bottom:0; }
.layer-pop .img-wrap img{ display:block;  width:100%;  max-width: 100%;  margin:0 auto;}
.layer-pop .mid-wrap .today{ max-width:360px; margin:0 auto; font-size:0; background-color:#fff; border-top:1px solid #ddd; }
.layer-pop .mid-wrap .today button{display: inline-block;  width:50%;  box-sizing: border-box;  vertical-align: top;  line-height: 50px;  font-weight: 400;  border-left:1px #dddddd solid;}
.layer-pop .mid-wrap .today button:first-child{border:0;}