@charset "utf-8";

.float-area{ *zoom:1; }
.float-area:after{ content:''; display:block; clear:both; }
.float-area .fl{ float:left; }
.float-area .fr{ float:right; }

.flex-area{ margin:0 -0.333333333rem; display:flex; }
.flex-area > *{ margin:0 0.333333333rem; }

.relative{ position:relative; }
.absolute{ position:absolute; }
.blind{ width:0; height:0; line-height:0; position:absolute; left:-9999px; font-size:0; overflow:hidden; }
.border-none{ border:none !important; }

.txt-left{ text-align:left !important; }
.txt-right{ text-align:right !important; }
.txt-center{ text-align:center !important; }

.mb0{ margin-bottom:0 !important; }
.mb1{ margin-bottom:1rem !important; }
.mt1{ margin-top:1rem !important; }

.color-gray{ color:#999 !important; }

.hr{ height:0.333333333rem; margin:1rem auto; background-color:#eee; border:none; }

.video-area{ height:0; padding-bottom:56.25%; position:relative; background-color:#000; }
.wide-area{ padding-bottom:42.55319149%; }
.video-area iframe{ width:100%; height:100%; position:absolute; top:0; left:0; }

/* tit */
.tit-dep1{ font-size:0.866666667rem; font-weight:400; text-align:center; }
.tit-dep4{ margin-bottom:0.5rem; font-size:0.666666667rem; font-weight:700; }
.tit-area{ position:relative; }
.tit-area .tit-side{ position:absolute; top:0; right:0; }

/* txt */
.strong{ font-weight:700; }
.txt-link, .txt-link:hover{ display:inline-block; text-decoration:underline; }

.link-area{ margin-top:0.666666667rem; text-align:center; }
.link-area > a{ line-height:0.9rem; padding-left:0.666666667rem; position:relative; font-size:0.533333333rem; }
.link-area > a:first-child{ padding-left:0; }
.link-area > a:after{ content:''; width:1px; display:block; position:absolute; top:6px; left:0.266666667rem; bottom:4px; background-color:#000; }
.link-area > a:first-child:after{ display:none; }

/* ico */
[class*='ico']{ display:inline-block; position:relative; top:-1px; background-position:50% 0; background-size:100% 100%; background-repeat:no-repeat; text-indent:-9999px; vertical-align:middle; }

/* btn */
.btn{ width:100%; height:1.333333333rem; line-height:1.266666667rem; display:inline-block; background-color:#fff; border:none; border:1px solid #000; border-radius:1rem; font-size:0.533333333rem; text-align:center; vertical-align:top; box-sizing:border-box; }
.btn:hover{ text-decoration:none; }
.btn-M{ width:auto; padding:0 0.666666667rem; }
.btn-disabled{ border-color:#999; color:#999; }
.btn-black{ background-color:#100f0f; border-color:#100f0f; color:#fff; }
.btn-gray{ background-color:#eee; border-color:#eee; }
.btn-more{ margin-bottom:0.666666667rem; border:none; color:#999; }
.btn-more:after{ content:''; width:0.6rem; height:0.333333333rem; margin-left:0.333333333rem; display:inline-block; background:url(http://img.sdij.com/sd2019/app/common/ico_bottom_g.png) 50% 0 no-repeat; background-size:100% 100%; }
.btn-back{ width:0.533333333rem; height:0.533333333rem; border-top:0.066666667rem solid #fff; border-left:0.066666667rem solid #fff; transform:rotate(-45deg); font-size:0; }

/* input, select, textarea */
.input-checkbox{ display:inline-block; position:relative; cursor:pointer; }
.input-checkbox input[type="checkbox"]{ width:0; height:0; position:absolute; opacity:0; }
.input-checkbox .ico-checkbox{ width:0.466666667rem; height:0.466666667rem; margin-right:2px; background:url(http://img.sdij.com/sd2019/app/common/input_checkbox.png) 0 100% no-repeat; background-size:100% 100%; vertical-align:middle; }
.input-checkbox input[type="checkbox"]:checked + .ico-checkbox{ background-image:url(http://img.sdij.com/sd2019/app/common/input_checkbox_check.png); }

.input-checkbox-toggle .ico-checkbox{ width:1.6rem; height:0.866666667rem; margin-right:0; position:relative; background:none; background-color:#ebe7e7; border-radius:1rem; }
.input-checkbox-toggle .ico-checkbox:after{ content:''; width:0.8rem; position:absolute; top:0.033333333rem; left:0.033333333rem; bottom:0.033333333rem; background-color:#fff; border-radius:0.4rem; transform:translateX(0); transition:all .15s ease-in-out; }
.input-checkbox-toggle input[type="checkbox"]:checked ~ .ico-checkbox{ background:none; background-color:#000; }
.input-checkbox-toggle input[type="checkbox"]:checked ~ .ico-checkbox:after{ transform:translateX(0.733333333rem); transition:all .15s ease-in-out; }

.input-radio{ display:inline-block; position:relative; cursor:pointer; }
.input-radio input[type="radio"]{ width:0; height:0; position:absolute; opacity:0; }
.input-radio .ico-radio{ width:0.466666667rem; height:0.466666667rem; margin-right:2px; background:url(http://img.sdij.com/sd2019/app/common/input_radio.png) 0 100% no-repeat; background-size:100% 100%; vertical-align:middle; }
.input-radio input[type="radio"]:checked ~ .ico-radio{ background-image:url(http://img.sdij.com/sd2019/app/common/input_radio_check.png); }

.input-text{ width:100%; display:inline-block; }
.input-text input{ width:100%; height:1.8rem; line-height:1.733333333rem; padding:0 0.666666667rem; display:inline-block; border:none; border-radius:0; border-bottom:1px solid #ebe7e7; font-size:0.466666667rem; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; letter-spacing:-.05em; }
.input-text input:focus{ border-color:#100f0f; }

.select{ width:100%; display:inline-block; position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; vertical-align:top; }
.select select{ width:100%; height:1.8rem; line-height:1.733333333rem; padding-left:0.733333333rem; padding-right:1.666666667rem; position:relative; background-color:#fff; border:none; border-bottom:1px solid #ebe7e7; font-size:0.533333333rem; vertical-align:top; z-index:1; }
.select select:disabled{ background-color:#eee; color:#999; }
.select:after{ content:''; width:0.6rem; height:0.333333333rem; margin-top:-0.166666667rem; display:block; position:absolute; top:50%; right:0.566666667rem; background:url(http://img.sdij.com/sd2019/app/common/ico_bottom.png) 50% 50% no-repeat; background-size:100% 100%; z-index:2; }

.textarea{ width:100%; }
.textarea textarea{ width:100%; line-height:0.8rem; padding:0.5rem 0.666666667rem; border:none; border:1px solid #ebe7e7; font-size:0.466666667rem; text-align:left; box-shadow:none; vertical-align:middle; resize:none; -webkit-appearance:none; }

.input-text input::placeholder, .textarea textarea::placeholder{ color:#999; opacity:1; }
.input-text input::-webkit-input-placeholder, .input-text input:-ms-input-placeholder, .input-text input:-mos-input-placeholder, .textarea textarea::-webkit-input-placeholder, .textarea textarea:-ms-input-placeholder, .textarea textarea:-mos-input-placeholder{ color:#999; }

/* list */
.list-tit{ margin:0 -0.333333333rem; }
.list-tit > li{ width:50%; float:left; padding:0.333333333rem; }
.list-tit > li > a > span, .list-tit > li > span{ display:inline-block; }
.list-tit > li .tit{ width:3.333333333rem; font-weight:700; }

/* table */
.table-type1{ overflow:hidden; }
.table-type1 table{ width:calc( 100% + 1px ); margin-left:-1px; border-top:1px solid #ebe7e7; table-layout:fixed; }
.table-type1 table tr th, .table-type1 table tr td{ border-left:1px solid #ebe7e7; border-bottom:1px solid #ebe7e7; word-break:keep-all; vertical-align:middle; }
.table-type1 table tr th{ background-color:#fafafa; }
.table-type1 table tr td{ padding:0.666666667rem; }
.table-type1 table tr th, .table-type1 table tr td.txt-center{ padding:0.666666667rem 0.333333333rem; }
.table-type1 table tr td > .tit-link{ max-width:100%; padding-right:0.666666667rem; display:inline-block; position:relative; overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; }
.table-type1 table tr td > .tit-link:after{ content:''; width:0.333333333rem; height:0.333333333rem; margin-top:-0.166666667rem; position:absolute; top:50%; right:0.266666667rem; border-top:0.066666667rem solid #000; border-right:0.066666667rem solid #000; transform:rotate(45deg); }

/* form */
.form-small > ul > li{ padding:0.333333333rem 0; }
.form-small .form-radio{ margin-bottom:0.333333333rem; padding:0 0.5rem; }
.form-small [class*='type']{ width:100%; display:table; table-layout:fixed; }
.form-small [class*='type'] > *{ padding:0 0.166666667rem; display:table-cell; }
.form-small [class*='type'] > *:first-child{ padding-left:0; }
.form-small [class*='type'] > *:last-child{ padding-right:0; }
.form-small .type-col2 > .input-text{ width:75%; }
.form-small .type-col2 > span{ width:25%; }
.form-small .type-col4 > *{ width:25%; }
.form-small .select, .form-small .btn{ margin-top:auto; font-size:0.466666667rem; }
.form-small .form-btn{ margin:0.666666667rem -0.333333333rem 0; display:-ms-flexbox; display:-webkit-flex; display:flex; }
.form-small .form-btn > *{ width:auto; margin:0 0.333333333rem; flex:1; }
.form-small .form-btn .btn{ height:2rem; line-height:1.933333333rem; border-radius:1rem; font-size:0.6rem; }

.form-agree{ font-size:0.466666667rem; }
.form-agree .agree-tit{ margin-bottom:0.166666667rem; }
.form-agree .agree-list li{ position:relative; color:#3d3c3c; }
.form-agree .agree-list li > .txt-link{ position:absolute; right:0; font-size:0.4rem; }

/* modal */
.modal-wrap{ width:100%; height:100%; display:none; position:fixed; top:0; bottom:0; left:0; right:0; z-index:9999; }
.modal-wrap .modal-bg{ position:absolute; top:0; bottom:0; left:0; right:0; background-color:#000; opacity:.5; filter:alpha(opacity=50); z-index:-1; }

.modal-container{ display:none; padding:2rem 0; position:absolute; top:50%; left:50%; background-color:#fff; transform:translate(-50%, -50%); }
.modal-F{ width:100%; height:100%; max-width:1366px; top:0; left:50%; transform:translate(-50%, 0); }

/* default modal */
.modal-container .modal-header{ line-height:2rem; padding:0 1rem; position:absolute; top:0; left:0; right:0; background-color:#3d3c3c; color:#fff; z-index:2; }
.modal-container .modal-header .tit-dep4{ margin-bottom:0; }
.modal-container .modal-header .btn-close{ width:0.6rem; height:0.6rem; margin-top:-0.3rem; position:absolute; top:50%; right:1rem; background:url(http://img.sdij.com/sd2019/app/common/ico_close_w.png) 50% 0 no-repeat; background-size:100% 100%; font-size:0; text-indent:-9999em; }
.modal-container .modal-content{ background-color:#fff; }

/* modal-F */
.modal-F .modal-content{ height:100%; overflow:auto; z-index:1; }
.modal-F .modal-btn{ display:flex; position:absolute; left:0; right:0; bottom:0; z-index:3; }
.modal-F .modal-btn .btn{ height:2rem; line-height:1.933333333rem; border-radius:0; font-size:0.6rem; font-weight:700; }

/* 약관 modal */
[class*='modal-terms'] .modal-content .textarea{ min-height:100%; padding:1.066666667rem; }