@charset "utf-8";

html, body{ height:100%; background-color:#EBE7E7; overflow:hidden; }

/* wrap */
#wrap{ height:100%; margin:0 auto; overflow:auto; }
#wrap > *{ font-size:0.533333333rem; font-weight:400; letter-spacing:-.05em; }

/* header */
#header{ position:relative; background-color:#3d3c3c; }
#header .content-layout{ position:relative; }
#header .btn-back{ margin-top:-0.233333333rem; position:absolute; top:50%; left:1.2rem; }
#header .tit-dep1{ line-height:2.666666667rem; text-align:center; color:#fff; }
#header .tit-player{ height:2.666666667rem; padding:0 1rem; text-align:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

/* container */
#container{ max-width:1366px; min-height:100%; margin:-2.666666667rem auto 0; padding:3.666666667rem 0 1rem; background-color:#fff; }
#container.flex-container{ width:100%; height:100%; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }
#container.player-container{ padding-top:2.666666667rem; background-color:#EBE7E7; }

/* layout */
.content-layout{ max-width:1366px; margin:0 auto; padding:0 1.066666667rem; }
.form-layout{ width:15.33333333rem; }

/* mobile */
@media all and (max-width:539px) and (orientation:portrait){
    #wrap > *{ font-size:0.6rem; }
    .form-layout{ width:100%; padding:0 1.066666667rem; }
}
@media all and (max-width:959px) and (orientation:landscape){
    #wrap > *{ font-size:0.6rem; }
    .form-layout{ width:100%; padding:0 1.066666667rem; }
}