/*@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css); */
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
input[type=text], input[type=password]{
    -webkit-border-radius:0;
    -webkit-appearance:none;
}
*{ -webkit-text-size-adjust: none;box-sizing:border-box;}
a[href^=tel]{color:#fff838; text-decoration:none;}
*[data-depth1="survival"][data-depth2="zero"][data-depth3="main"]{
  background: #ffffff
}
*[data-depth1="survival"][data-depth2="zero"][data-depth3="main"] #footer{
  display: none;
}

.survival_teaser{
  height:100%;
  box-sizing: border-box;
  text-align:center;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
}
.survival_teaser .title_top{
  background:url('http://img.sdij.com/common/event_title_bg02.png') no-repeat center center;
  background-size:24rem;
  position:absolute;
  height: 60px;
  width:100%;
  top:50%;
  margin:-0.5rem 0 0 0;
  font-size:0;
  text-indent: -9999px;
}
.survival_teaser .sub_title{
  position:absolute;
  bottom:29%;
  width:100%;
}
.survival_teaser .sub_title a{
  display: block;
  font-weight:100;
  font-size:0.6rem;
  color:#747474;
  padding:2rem 0 0 0;
  letter-spacing: 1px;
  cursor: pointer;
  width:7.667rem;
  margin:0 auto;
  position:relative;
}
.survival_teaser .sub_title a span{
  content: "";
  position:absolute;
  top:0;
  left:50%;
  background:url('http://img.sdij.com/common/be_bg01.png') no-repeat center top;
  background-size:contain;
  margin:0 0 0 -3.8335rem;
  height:2rem;
  font-size:0;
  text-align: center;
  z-index: 2;
  width:100%;
}
.survival_teaser .sub_title .small{
  font-size:0.683rem;
  color:#747474;
  font-weight:100;
}
/*
.survival_teaser .sub_title a:before{
  content: "";
  position:absolute;
  width:1.8rem;
  height:1.8rem;
  background:#ffb400;
  z-index:1;
  top:-0.6rem;
  right:1.3rem;
  border-radius: 50px;
}
*/
.survival_teaser .sub_title.color a span{
  animation-duration:10s;
  animation-iteration-count: infinite;
  animation-name: changeColor;
}
.survival_teaser .bottom_t{
  position:absolute;
  bottom:1rem;
  left:0;
  width:100%;
  text-align: center;
  font-size: 0.76rem;
  color: #848282;
  font-weight:100;
  letter-spacing: 0;
}


/*해설지*/
.download_wrap{
  padding:3rem 0 0 0;
}
.download_wrap .full{
  text-transform:uppercase;
  position:relative;
  font-size:0.9rem;
}
.download_wrap .full:after{
  content: "";
  position:absolute;
  width:2.5rem;
  height:100%;
  right:1rem;
  background:url('http://img.sdij.com/common/m_download_bg.png') no-repeat center center;
  background-size:100%;
}
.download_wrap ul{
  padding:1.5rem 0 0 0;
}
.download_wrap ul li{
  font-size:0.7rem;
  line-height: 1.1rem;
  margin:0.3rem 0 0 0;
  letter-spacing: -1.5px;
}
.download_wrap ul li:first-child{
  margin:0;
}
.download_wrap table{
  width:100%;
  border-spacing: 0;
}
.download_wrap table th{
  font-size:1rem;
  width:40%;
  line-height:3rem;
}

/*2차 수정디자인*/
.zero_wrap{
  height:100%;
  text-align: center;
  font-family: 'NanumSquareRound',sans-serif;
}
.zero_wrap .landing{
  width:100%;
  height:96%;
  position:relative;
  overflow: hidden;
}
.zero_wrap .landing .mid_wrap .top_title{
  height:20px;
  font-size:0;
  padding:0 50px;
  position:absolute;
  width:100%;
  top:7%;
  left:0;
  background:url('http://img.sdij.com/common/event/2019/zero1/m_top_title_bg.png') no-repeat 50px center;
}
.zero_wrap .landing .mid_wrap .top_title:after{
  content: "";
  float:right;
  width:100px;
  height:100%;
  background:url('http://img.sdij.com/common/event/color_group.png') no-repeat right center;
  background-size:60px;
  padding:0;
}

.zero_wrap .landing .mid_wrap .title{
  text-align:left;
  width:595px;
  font-size:0;
  padding:100px 0 0 0;
  background:url('http://img.sdij.com/common/event/2019/zero1/m_zero_title.png') no-repeat left top;
  position:absolute;
  top:20%;
  left:50%;
  margin:0 0 0 -297.5px;
}
.zero_wrap .landing.final .mid_wrap .title{
  background:url('http://img.sdij.com/common/event/final/m_zero_title_final.png') no-repeat center top;
  width:90%;
  margin:0 5%;
  left:50%;
  margin:0 0 0 -45%;
}
.zero_wrap .landing .mid_wrap .title:after{
  content:"비교 불가 최상의 수능 서바이벌 모의고사";
  position:absolute;
  margin:30px 0 0 0;
  color:#959595;
  font-size:35px;
  letter-spacing: -0.5px;
  line-height:20px;
  font-family: 'NanumSquareRound',sans-serif;
  font-weight:600;
}
.zero_wrap .landing .mid_wrap .add_title{
  position: absolute;
  bottom:33%;
  right: 40px;
  font-size: 0;
  padding: 25px 0 0 0;
  width: 325px;
  background: url('http://img.sdij.com/common/event/m_zero_add_title.png') no-repeat right center;
  background-size:contain;
  display: none;
}
.zero_wrap .landing .mid_wrap .colo-add{
  position:absolute;
  bottom:15%;
  width: 100%;
  background: url('http://img.sdij.com/common/event/2019/zero1/m_color_add_bg.png') no-repeat center top;
  font-size:0;
}
.zero_wrap .landing .mid_wrap .colo-add span{
  width:100%;
  display: block;
  font-size:35px;
  padding:100px 0 0 0;
  line-height: 100%;
  font-family: 'NanumSquareRound',sans-serif;
  color:#797979;
  letter-spacing: 2px;
  text-align: left;
  width:440px;
  margin:0 auto;
}

.zero_wrap .landing .mid_wrap .color_list{
  font-size:0;
  position:absolute;
  left:0;
  bottom:27%;
  text-align: center;
  width:100%;
}
.zero_wrap .landing .mid_wrap .color_list li{
  display: inline-block;
  *display: inline;
  zoom:1;
  width:123px;
  height:123px;
  border-radius:100%;
  font-size:0;
  margin:0 0 0 30px;
}
.zero_wrap .landing .mid_wrap .color_list li:first-child{
  background:#03c3ee url('http://img.sdij.com/common/event/2019/zero1/m_zero_text_01.png') no-repeat center center;
  margin:0;
}
.zero_wrap .landing .mid_wrap .color_list li.sec{
  background:#37db62 url('http://img.sdij.com/common/event/2019/zero1/m_zero_text_02.png') no-repeat center center;
}
.zero_wrap .landing .mid_wrap .color_list li.thir{
  background:#da49dd url('http://img.sdij.com/common/event/2019/zero1/m_zero_text_03.png') no-repeat center center;
}
.zero_wrap .landing .mid_wrap .color_list li.four{
/*   background:#dd6d2b url('http://img.sdij.com/common/event/m_zero_text_04.png') no-repeat center center; */
  background:#ff5646  url('http://img.sdij.com/common/event/2019/zero1/m_zero_text_04.png') no-repeat center center;
}

.zero_wrap .landing .mid_wrap .add_t{
  position: absolute;
  bottom:8%;
  font-family: 'NanumSquareRound',sans-serif;
  letter-spacing: -1px;
  line-height: 35px;
  color:#b2b2b2;
  font-weight:400;
  width:100%;
  left:0;
  text-align: center;
  font-weight:300;
  font-size:20px;
}
.zero_wrap .landing .mid_wrap .add_t em{
  display: block;
  font-weight:600;
  font-size:20px;
  line-height:35px;
  margin:0 0 10px 0;
}
.zero_wrap .yellow_box{
  background:#ffb700 url(http://img.sdij.com/common/event/2019/zero1/m-yellow-bg.png) no-repeat right 25px;
  padding:50px 0;
  text-align: left;
}
.zero_wrap .yellow_box ul{
  margin:0 auto;
  padding:0 0 0 50px;
}
.zero_wrap .yellow_box ul:first-child{
  margin:0 0 50px 0;
}
.zero_wrap .yellow_box ul li{
  line-height:38px;
  font-size:15px;
  color:#ffffff;
  font-weight:300;
  font-family: 'NanumSquareRound',sans-serif;
  margin:0;
  word-break: keep-all;
  line-height: 130%;
  margin:10px 0 0 0;
}
.zero_wrap .yellow_box ul li:first-child{
  font-weight:300;
  padding:0;
  font-size:27px;
  margin:0;
}
.zero_wrap .yellow_box ul li .right-t{
  display: block;
  padding:0 0 0 105px;
}
.zero_wrap .yellow_box ul li b{
  font-weight:800;
}
.zero_wrap .yellow_box ul li em{
  display: block;
  font-size:11px;
  margin:5px 0 0 0;
  letter-spacing: 1px;
}
/* .zero_wrap .yellow_box ul li:first-child span{
  display: inline-block;
  padding:0px 20px 0 0;
  font-size:27px;
  font-family: 'NanumSquareRound',sans-serif;
  line-height:23px;
  vertical-align: top;
}
.zero_wrap .yellow_box ul li:first-child span:first-child{
  font-size:32px;
  line-height: 24px;
} */
.zero_wrap .yellow_box ul li.small{
  font-size:10px;
  font-weight:100;
  line-height: 100%;
}
.zero_wrap .btn_box{
  text-align: center;
  overflow: hidden;
  padding:0 0 80px 0;
}
.zero_wrap .btn_box .bg{
  display: block;
  padding:205px 0 0 0;
  /*background:#ebe9ec url('http://img.sdij.com/common/event/2019/zero1/m_zero_bg_01.png') no-repeat center 101%;*/
  background:#ebe9ec url('http://img.sdij.com/common/event/2020/zero1/m_zero_bg_01.jpg') no-repeat center 101%;
}
.zero_wrap .btn_box ul{
  padding:265px 0 0 0;
  position:relative;
  width:600px;
  margin:0 auto;
}
.zero_wrap .btn_box ul:before{
  position:absolute;
  top:105px;
  left:50%;
  width:80px;
  margin:0 0 0 -40px;
  content: "";
  height:10px;
  background:url('http://img.sdij.com/common/event/color_group.png') no-repeat center top;
  background-size:contain;
}
.zero_wrap .btn_box ul li{
  position:absolute;
  left:0;
  bottom:-400px;
  height:120px;
}
.zero_wrap .btn_box ul li.sec{
  left:205px;
}
.zero_wrap .btn_box ul li.thir{
  left:410px;
}
.zero_wrap .btn_box ul li a{
  display: block;
  height:100%;
  text-transform:uppercase;
  line-height: 100%;
  width:195px;
  padding:18px 0 0 0;
  text-align: left;
  padding:15px 10px;
  color:#ffffff;
  font-size:20px;
  background:#626262;
  position:relative;
}
.zero_wrap .btn_box ul li a:after{
  content: "신청하기 >";
  position:absolute;
  right:10px;
  bottom:15px;
  font-size:10px;
  line-height: 100%;
}
.zero_wrap .btn_box ul li a span{
  display: block;
  font-size:10px;
  line-height: 100%;
}
/*
.zero_wrap .btn_box ul li.fir a{
  color:#be63da;
  background:url('http://img.sdij.com/common/event/btn_title_01.png') no-repeat center top;
}
.zero_wrap .btn_box ul li.sec a{
  color:#70b8e0;
  background:url('http://img.sdij.com/common/event/btn_title_02.png') no-repeat center top;
}
.zero_wrap .btn_box ul li.thir a{
  color:#7ece53;
  background:url('http://img.sdij.com/common/event/btn_title_03.png') no-repeat center top;
}
.zero_wrap .btn_box.final ul li.fir a{
  background:url('http://img.sdij.com/common/event/final/btn_title_01_final.png') no-repeat center top;
}
.zero_wrap .btn_box ul li.sec a{
  background:url('http://img.sdij.com/common/event/final/btn_title_02_final.png') no-repeat center top;
}
.zero_wrap .btn_box ul li.thir a{
  background:url('http://img.sdij.com/common/event/final/btn_title_03_final.png') no-repeat center top;
}
.zero_wrap .btn_box ul li a span{
  display: block;
  font-size:24px;
  color:#ffffff;
  line-height: 40px;
  margin:18px 0 0 0;
  letter-spacing: -1px;
  font-family: 'NanumSquareRound',sans-serif;
}
.zero_wrap .btn_box ul li.fir a span{
  background:#be63da;
}
.zero_wrap .btn_box ul li.sec a span{
  background:#70b8e0;
}
.zero_wrap .btn_box ul li.thir a span{
  background:#7ece53;
}
.zero_wrap .btn_box.final ul li.fir a span{
  background:#da49dd;
}
.zero_wrap .btn_box.final ul li.sec a span{
  background:#03c3ee;
}
.zero_wrap .btn_box.final ul li.thir a span{
  background:#37db62;
}
*/


#wrap .box_05{
  width:100%;
  margin:0 auto;
  height:auto;
  padding:0 0 2.708rem 0;
  text-align: center;
}
#wrap .step_list{
  font-size:0;
  padding:0 0 2.75rem 0;
}
#wrap .step_list li{
  border:1px #a6a6a6 solid;
  display: inline-block;
  *display: inline;
  zoom:1;
  font-size:0.95rem;
  color:#303030;
  width:43%;
  height:10.283rem;
  vertical-align: top;
  margin:0 0 0 3.5%;
  padding:3.383rem 0.625rem 0 0.625rem;
  word-break: keep-all;
  text-align:left;
  line-height: 1.3rem;
  position:relative;
  font-weight:300;
  letter-spacing: -1px;
}
#wrap .step_list li:first-child{
  margin:0;
}
#wrap .step_list li:before{
  content: "01";
  position:absolute;
  top:0;
  left:0;
  width:34px;
  padding:5px 0;
  text-align: center;
  font-size:14px;
  font-weight:800;
  color:#ffffff;
  background:#a0a0a0
}
#wrap .step_list li.sec:before{
  content: "02"
}
#wrap .step_list li.thir:before{
  content: "03"
}
#wrap .step_list li.thir:after{
  content: "";
  position:absolute;
  bottom:-42px;
  right:-43px;
  width:90px;
  height:123px;
  background:url(http://img.sdij.com/common/event/s_binder_bg.png) no-repeat left top;
}
#wrap .room_btn{
  overflow: hidden;
  width:90%;
  margin:0 auto;
}
#wrap .room_btn>li{
  border-top:3px #a0a0a0 solid;
  float:right;
  width:100%;
  height:auto;
}
#wrap .room_btn>li:first-child{
  background:#1a2e4e;
  border:0;
  margin:0 0 1rem 0;
  height:4.583rem;
}
#wrap .room_btn>li:first-child a{
  display: block;
  line-height: 4.583rem;
  font-size:1.367rem;
  color:#ffffff;
  margin:0 auto;
  width:80%;
}
#wrap .room_btn>li .search_area{
  overflow: hidden;
  position:relative;
}
#wrap .room_btn>li .search_area span{
  display: block;
  font-size:1.242rem;
  color:#2d2928;
  font-weight:300;
  padding:1.242rem 0;
}
#wrap .room_btn>li .search_area input,
#wrap .room_btn>li .search_area button{
  float:left;
  height:2.75rem;
  box-sizing:border-box;
  position:relative
}
#wrap .room_btn>li .search_area input{
  width:100%;
  padding:0 1.75rem 0 2%;
  border:1px #c0c0c0 solid;
  font-size:0.783rem;
  color:#726c6b;
  letter-spacing: -1px;
}
#wrap .room_btn>li .search_area button{
  position:absolute;
  width:2.75rem;
  bottom:0;
  right:0;
  background:url(http://img.sdij.com/common/event/search_bg.png) no-repeat center center;
  background-size:cover;
}
#wrap .room_btn>li.full{
  width:100%;
  height:auto;
  clear: both;
  border:0;
  padding:2.292rem 7.083rem 0 0;
  text-align: left;
  font-size:1.042rem;
  color:#333333;
  letter-spacing: -1px;
  font-weight:300;
  position:relative;
  line-height: 1.167rem;
}
#wrap .box_05 table{
  width:100%;
  border-spacing: 0;
  margin:2.5rem 0;
}
#wrap .box_05 table th{
  border-top:3px #3b3736 solid;
  font-size:0.75rem;
  color:#575151;
  padding:0.292rem 0 1.042rem 0;
  position:relative;
}
#wrap .box_05 table th.line{
  border-top:0;
  width:5.417rem;
  padding:0.292rem 0 1.042rem 0.417rem;
}
#wrap .box_05 table th.line:before{
  border-top:3px #3b3736 solid;
  content: "";
  position:absolute;
  top:-1px;
  right:0;
  width:5rem;
}
#wrap .box_05 table td{
  font-size:0.725rem;
  color:#575151;
  letter-spacing: -1px;
  padding:0.48rem 0;
  line-height:0.85rem;
}
#wrap .box_05 table td:first-child{
  padding:0.48rem 1rem
}
#wrap .box_05 table td.line{
  width:5rem;
  text-align: right;
  padding:0.208rem 0 0.208rem 0.417rem
}
#wrap .box_05 table td input{
  border:0;
  width:5rem;
  height:1.25rem;
  line-height:1.25rem;
  display:block;
  margin:0 auto;
  color:#ffffff;
  font-weight:600;
  font-size:0.625rem;
}
#wrap .box_05 table td input.apply{
  background:#525252;
}
#wrap .box_05 table td input.finish{
  background:#b9b9b9;
}
*[data-form="page"]{;font-size:0;text-align:center;}
*[data-form="page"] button{position:relative;padding:0;width:30px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;height:30px;box-sizing:border-box;font-size:12px;color:#a0a0a0;}
*[data-form="page"] button:hover{color:#323232;}
*[data-form="page"] button:first-child{border-left:1px solid #d2d2d2;}
*[data-form="page"] button:last-child{border-right:1px solid #d2d2d2;}
*[data-form="page"] *[class^="page_"]{text-indent:-99999px;border:1px solid #d2d2d2;}
*[data-form="page"] *[class^="page_"]:before{content:'';position:absolute;top:50%;margin:-5px 0 0 0;}
*[data-form="page"] .page_first{margin:0 -1px 0 0;}
*[data-form="page"] .page_first:before{left:7px;width:13px;height:10px;background:url('http://img.sdij.com/common/common.png') no-repeat;background-position:0 -100px;}
*[data-form="page"] .page_prev{margin:0;}
*[data-form="page"] .page_prev:before{left:9px;width:7px;height:10px;background:url('http://img.sdij.com/common/common.png') no-repeat;background-position:0 -125px;}
*[data-form="page"] .page_next{margin:0;}
*[data-form="page"] .page_next:before{left:11px;width:7px;height:10px;background:url('http://img.sdij.com/common/common.png') no-repeat;background-position:0 -150px;}
*[data-form="page"] .page_last{margin:0 0 0 -1px;}
*[data-form="page"] .page_last:before{left:9px;width:13px;height:10px;background:url('http://img.sdij.com/common/common.png') no-repeat;background-position:0 -175px;}
*[data-form="page"] span{display:inline-block;width:30px;height:30px;line-height:30px;font-size:12px;color:#fff;background:#323232;text-align:center;vertical-align:middle;}
#wrap .box_06{
  height:auto;
  padding:60px 0;
  background:#f0f0f0;
}
#wrap .box_06 .mid_wrap{
    text-align: left;
}
#wrap .box_06 .mid_wrap .notice_text{
    width:660px;
    margin:0 auto;
}
#wrap .box_06 .mid_wrap .notice_text li:first-child{
    border-bottom:2px #575151 solid;
    font-size:18px;
    font-weight:600;
    padding:0 0 5px 0;
}
#wrap .box_06 .mid_wrap .notice_text li{
    font-size:14px;
    line-height: 26px;
    padding:20px 0 0 0;
    color:#575151;
}

#wrap .join_pop .pop_wrap{
  border:1px #a0a0a0 solid;
  margin:-206.5px 0 0 -10.9165rem;
}
#wrap .join_pop .pop_wrap .content_title{
  background:none;
  border:0;
  color:#575151;
  font-size:1.333rem;
  font-weight:300;
  font-family: 'Noto Sans KR', sans-serif;
  padding:1.25rem 0.625rem 0 0.625rem;
  text-align:left;
  position:relative;
  margin:0;
}
#wrap .join_pop .pop_wrap .content_title button{
  float: right;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: left;
  text-indent: -9999px;
  border-radius: 50%;
}
#wrap .join_pop .pop_wrap .content_title button:before{
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  background: url(http://img.sdij.com/common/common.png) no-repeat;
  background-position: 0 -950px;
}
#wrap .join_pop .pop_wrap .pw_box{
  padding:1.875rem 0.625rem 2.083rem 0.625rem;
  font-size:1rem;
  color:#525252;
  font-weight:600;
  text-align:left;
}
#wrap .join_pop .pop_wrap .pw_box input{
  display: block;
  border:1px #c2c2c2 solid;
  height: 2.292rem;
  line-height: 2.292rem;
  width:96%;
  padding:0 2%;
  font-weight:400;
  margin:0.208rem 0 0.417rem 0;
  font-size:0.833rem;
  letter-spacing: 1px;
}
#wrap .join_pop .pop_wrap .pw_box span{
  color:#575151;
  font-size:0.833rem;
  font-weight:300;
  letter-spacing: -1px;
}
#wrap .join_pop .pop_wrap .btn_wrap button{
  width:10.958rem;
  height:70px;
  line-height: 70px;
  font-size:1.167rem;
  display: block;
  margin:20px auto 0 auto;
}



/*입시설명*/
body[data-depth1="entrance_presentation"][data-depth2="main"] #footer{
  display: none;
}


*[data-depth1="entrance_presentation"][data-depth2="main"]{
  background:#ffffff;
}
.pop_landing{
  margin:0 auto;
  height:100%;
  position:relative;
  font-family: 'Nanum Square';
  display: table;
  width:90%;
}
body[data-depth1="entrance_presentation" data-depth2="main"]{
  background:#ffffff;
}
.pop_landing .top{
  position:absolute;
  width:100%;
  top:15%;
  font-size:0;
  height: 40px;
  margin:0 auto 215px auto;
  background:url('http://img.sdij.com/common/event/final/color_group_final.png') no-repeat right center;
}
.pop_landing .top:after{
  content: "";
  height:100%;
  width:164px;
  display: block;
  background:url(http://img.sdij.com/common/event/sdij_logo.png) no-repeat left center;
  background-size:75%;
}
.pop_landing .mid_wrap{
  display: table-cell;
  vertical-align:middle;
  padding:100px 0 0 0;
}
.pop_landing .title{
  color:#000000;
  font-size:48px;
  position:relative;
  margin:0px 0 190px 0;
  line-height: 55px;
}
.pop_landing .title:before{
  border-top:1px #000000 solid;
  content: "";
  width:127px;
  display: block;
  margin:0 0 30px 0;
}
.pop_landing .title span{
  display: block;
  font-size:29px;
  color:#7d7d7d;
  font-weight:500;
  line-height: 24px;
  margin:30px 0 0 0;
}
.pop_landing .color_list{
  text-align: center;
}
.pop_landing .color_list li{
  display: inline-block;
  vertical-align: top;
  width:120px;
  height:120px;
  border-radius: 50%;
  margin:0 0 0 4.5%;
  position:relative;
  letter-spacing: -0.5px;
}
.pop_landing.set2 .color_list li{
  margin:0 0 0 2.2%;
}
.pop_landing .color_list li:first-child{
  background:#03c3ee;
  margin:0;
}
.pop_landing.set2 .color_list li:first-child{
  background:#da49dd;
}
.pop_landing .color_list li.sec{
  background:#37db62;
}
.pop_landing.set2 .color_list li.sec{
  background:#03c3ee;
}
.pop_landing .color_list li.thir{
  background:#da49dd;
}
.pop_landing.set2 .color_list li.thir{
  background:#ff5646;
}
.pop_landing .color_list li.four{
  background:#ff5646;
}
.pop_landing.set2 .color_list li.four{
  background:#37db62;
}
.pop_landing .color_list li a{
  display: table;
  width:100%;
  height:100%;
  color:#ffffff;
  font-weight:600;
  text-align:center;
  font-size:20px;
  line-height:21px;
}
.pop_landing.set2 .color_list li a{
  font-size:18px;
}
.pop_landing .color_list li a span{
  display: table-cell;
  vertical-align: middle;
}
.pop_landing .color_list li em{
  font-size:21px;
  color:#a19f9f;
  width:400px;
  line-height: 25px;
  display: block;
  padding:30px 0 0 15px;
  position:absolute;
  right:0;
  text-align: right;
}
/*
@keyframes changeColor {
  25% {
    background:url('http://img.sdij.com/common/be_bg01.png') no-repeat center top;
     background-size:contain;
  }

  50%{
    background:url('http://img.sdij.com/common/be_bg02.png') no-repeat center top;
   background-size:contain;
  }

  75%{
    background:url('http://img.sdij.com/common/be_bg03.png') no-repeat center top;
   background-size:contain;
  }

  100%{
    background:url('http://img.sdij.com/common/be_bg04.png') no-repeat center top;
     background-size:contain;
  }
}
*/