@charset "utf-8";

.index-container, .teacher-container, .myinfo-container, .mydelv-container{ padding-top:40px; }

.tit-dep4{ margin-top:90px; }
.lnb-type1 + * .tit-dep4{ margin-top:40px; }

.preview-lecture{ margin:0 -10px; display:flex; }
.preview-lecture > li{ padding:0 10px; flex:1; overflow:hidden; }
.preview-lecture > li .tit{ width:100%; line-height:24px; margin-bottom:10px; display:block; font-size:18px; font-weight:500; overflow:hidden; text-overflow:ellipsis; word-break:break-all; white-space:nowrap; }
.preview-lecture > li .graph-area{ padding-top:26px; position:relative; }
.preview-lecture > li .graph-area:after{ content:''; width:10px; position:absolute; top:0; left:-10px; bottom:0; background-color:#fff; z-index:9; }
.preview-lecture > li .graph-area .bar{ height:4px; position:relative; background-color:#ceffea; border-radius:2px; z-index:8; }
.preview-lecture > li .graph-area .bar .bar-progress{ height:100%; position:absolute; top:0; left:0; background-color:#000; border-radius:2px; animation:lecAni 1s .5s; animation-timing-function:cubic-bezier(.49,.46,.24,1.04); animation-fill-mode:both; }
.preview-lecture > li .graph-area .bar .bar-progress:after{ content:''; width:20px; height:20px; position:absolute; right:-10px; bottom:0; background-color:#000; border-radius:50%; }
.preview-lecture > li:nth-child(2) .graph-area .bar .bar-progress{ animation-delay:1.2s; }
.preview-lecture > li .graph-area .legend{ height:24px; margin-top:10px; position:relative; z-index:10; }
.preview-lecture > li .graph-area .legend > *{ line-height:24px; position:absolute; bottom:0; font-size:16px; font-weight:700; letter-spacing:-.8px; transform:translate(-50%, 0); }
.preview-lecture > li .graph-area .legend > *:first-child{ left:0; transform:translate(0, 0); }
.preview-lecture > li .graph-area .legend > *:last-child{ right:0; text-align:right; transform:translate(0, 0); }
.preview-lecture > li .graph-area .legend > .point1{ left:25%; }
.preview-lecture > li .graph-area .legend > .point2{ left:50%; }
.preview-lecture > li .graph-area .legend > .point3{ left:75%; }
.preview-lecture > li .graph-area .upload{ width:80px; height:32px; line-height:24px; margin-right:-45px; padding:8px 0 0 0; position:absolute; bottom:0; background:url(//img.sdij.com/sdijx/common/bg_upload.png) 50% 50% no-repeat; background-size:100% 100%; font-size:12px; font-weight:500; letter-spacing:-.4px; text-align:center; }
.preview-lecture > li .btn-area{ margin-top:10px; }

@keyframes lecAni{
    from{ transform:translate(-510px, 0); }
    to{ transform:translate(0, 0); }
}

/* index */
.index-container .timetable-content .tit-area .tit-side [class^='ico']{ top:0; }
.index-container .timetable-content .tit-area .tit-side .week{ line-height:26px; margin:0 5px; font-size:18px; font-weight:700; vertical-align:middle; }
.index-container .timetable-content .table-schd{ display:flex; }
.index-container .timetable-content .table-schd > dl{ -ms-flex:1; flex:1; }
.index-container .timetable-content .table-schd > dl > dt{ height:48px; line-height:28px; margin:10px auto; font-size:24px; font-weight:700; letter-spacing:-1.2px; }
.index-container .timetable-content .table-schd > dl > dt .day{ line-height:18px; font-size:14px; font-weight:400; letter-spacing:-.5px; }
.index-container .timetable-content .table-schd > dl > dd{ height:120px; margin:10px auto; padding:5px 10px; display:flex; position:relative; background:url(//img.sdij.com/sdijx/common/bg_dotted1.png) 0 0 repeat-y; background-size:4px auto; font-size:14px; align-items:flex-start; }
.index-container .timetable-content .table-schd > dl.today > dd{ background:none; border-left:4px solid #ceffea; }
.index-container .timetable-content .table-schd > dl > dd > a, .timetable-content .table-schd > dl > dd > a > span{ width:100%; display:block; }
.index-container .timetable-content .table-schd > dl > dd > a:after{ content:'강좌보기'; line-height:18px; padding-right:12px; display:inline-block; position:absolute; left:10px; bottom:5px; font-size:12px; letter-spacing:-0.428571px; background:url(//img.sdij.com/sdijx/common/ico_next.png) 100% 50% no-repeat; background-size:12px 12px; text-decoration:underline; }
.index-container .timetable-content .table-schd > dl > dd.live > a:after{ content:'LIVE'; line-height:16px; padding:0 8px 2px; display:inline-block; bottom:3px; font-weight:700; background:none; background-color:#ffe1e1; border:1px solid #000; border-bottom-width:2px; text-decoration:none; }
.index-container .timetable-content .table-schd > dl > dd > a .name{ margin-bottom:5px; font-weight:700; }
.index-container .timetable-content .table-schd > dl > dd > a .tit{ height:40px; line-height:20px; margin-bottom:5px; display:block; display:-webkit-box; overflow:hidden; text-overflow:ellipsis; word-break:break-all; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; white-space:normal; }
.index-container .timetable-content .table-schd > dl > dd > a .time{ margin-bottom:5px; font-size:12px; }
.index-container .timetable-content .table-schd > dl.list-time > dt, .timetable-content .table-schd > dl.list-time > dd{ line-height:48px; padding-left:20px; background:url(//img.sdij.com/sdijx/common/bg_dotted2.png) 0 0 repeat-y; background-size:10px auto; font-size:24px; font-weight:700; letter-spacing:-1.71429px; -webkit-box-orient:vertical; -ms-flex-direction:column; flex-direction:column; justify-content:space-around; align-items:flex-start; }
.index-container .timetable-content .table-schd > dl.list-time > dd .num{ font-size:48px; }
.index-container .timetable-content .table-schd > dl.list-time > dd .time{ line-height:16px; font-size:12px; letter-spacing:-0.428571px; }

.index-container .no-data > [class^='ico']{ width:40px; height:40px; }
.index-container .no-data{ height:100px; background:none; }

/* lecture */
.lecture-container .lecture-content .no-data{ height:160px; }
.lecture-container .lecture-content .no-data > [class^='ico']{ width:40px; height:40px; }
.lecture-container .card-content .tit-area .tit-side{ min-width:143px; }
.lecview-container .tit-lec .tit-side{ top:auto; bottom:0; }
.lecview-container .banner-content{ margin-bottom:20px; }
.lecview-container .banner-content img{ width:100%; height:auto; }
.lecview-container .preview-lecture{ margin:0 auto 20px; padding:20px; border:1px solid #f2f2f2; }
.lecview-container .preview-lecture > li{ width:100%; margin:0; }
.lecview-container .book-content{ margin-bottom:20px; }
.lecview-container .book-content .tit-area{ height:64px; border:1px solid #f2f2f2; align-items:center; }
.lecview-container .book-content .tit-area .tit-dep5{ line-height:64px; margin-bottom:0; padding:0 20px; }
.lecview-container .book-content .tit-area .tit-side{ right:20px; }
.lecview-container .book-content .content-area{ padding:20px 30px; background-color:#fcfcfc; border:1px solid #f2f2f2; border-top:none; }
.lecview-container .book-content .content-area .book-img{ width:120px; height:160px; }
.lecview-container .book-content .content-area .book-list{ width:calc( 100% - 140px ); }
.lecview-container .book-content .content-area .book-list > li{ margin:5px 0; font-size:18px; font-weight:500; }
.lecview-container .book-content .content-area .book-list > li [class^='sticker']{ margin-right:5px; font-size:14px; }

/* myinfo */
#container.myinfo-container .lnb-type1{ margin-bottom:0; }
.myinfo-container .lnb-type1 + .tab-type2{ margin-top:0; }
.myinfo-container .tit-dep4{ margin-top:40px; }
/* .myinfo-container .tit-dep4:first-child{ margin-top:20px; } */

/* mydelv */
#container.mydelv-container .lnb-type1{ margin-bottom:0; }
.mydelv-container .lnb-type1 + .tab-type2{ margin-top:0; }
.mydelv-container .btn-add .ico-plus{ width:18px; height:18px; top:-2px; }
.mydelv-container .list-delivery > li{ padding-right:100px; position:relative; }
.mydelv-container .list-delivery > li .btn-area{ position:absolute; right:20px; bottom:20px; }


/** Tablets **/
@media (max-width:1024px) and (orientation:portrait), (max-width:1336px) and (orientation:landscape){
    .preview-lecture > li .graph-area .upload{ width:72px; height:30px; padding-top:0; padding-bottom:6px; top:0; bottom:auto; background-image:url(//img.sdij.com/sdijx/common/bg_upload_m.png); }

    .index-container{ padding-top:20px; }
    .index-container .timetable-content .table-schd{ width:100%; overflow-x:auto; overflow-y:hidden; }
    .index-container .timetable-content .table-schd > dl{ min-width:100px; }
    .index-container .timetable-content .table-schd > dl.list-time > dd .num{ font-size:32px; }
    .index-container .timetable-content .table-schd > dl.list-time > dt, .timetable-content .table-schd > dl.list-time > dd{ font-size:16px; }
    .index-container .owl-content .preview-area li{ margin-left:10px; }
    .index-container .owl-content .preview-area li .txt-line{ font-size:40px; }

    .preview-lecture > li .graph-area .legend > .point3{ display:none; }

    .lecview-container .tit-lec .tit-dep1{ margin-bottom:20px; }
    .lecview-container .tit-lec .tit-side{ margin-bottom:40px; position:relative; transform:translate(0, 0); }
    .lecview-container .preview-lecture{ padding:0; border:none; }
    .lecview-container .preview-lecture > li .graph-area{ padding-top:40px; }
}


/** mobiles **/
@media (max-width:539px) and (orientation:portrait), (max-width:959px) and (orientation:landscape){
    .tit-dep4{ margin-top:40px; }

    .index-container .owl-content, .index-container .lecture-content{ width:100%; }

    .preview-lecture{ flex-direction:column; }
    .preview-lecture > li{ margin-top:40px; }
    .preview-lecture > li:first-child{ margin-top:0; }

    .lecture-container .card-content .tit-area .tit-dep4 + .tit-side{ margin:-20px auto 10px; position:relative; top:0; transform:translate(0, 0); text-align:right; }
    .lecture-container .card-content .tit-area .tit-dep4 + .tit-side .tit-dep5{ font-size:18px; }
    
    .lecview-container .book-content .content-area .book-img{ margin:0 auto 10px; float:none; }
    .lecview-container .book-content .content-area .book-list{ width:100%; float:none; }
}