<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:url" content="//www.sdij.com/" />
    <meta property="og:image" content="//img.sdij.com/sd2019/pc/logo.png" />
    <meta property="og:title" content="시대인재" />
    <meta property="og:description" content="시대인재대치, 시대인재분당, 시대인재재수종합N, 시대인재북스, 대입전문컨설팅" />
    <meta property="og:site_name" content="시대인재" />
    <meta name="description" content="시대인재대치, 시대인재분당, 시대인재재수종합N, 시대인재북스, 대입전문컨설팅" />
    <meta name="title" content="시대인재" />
    <meta name="keywords" content="9월 모평,수능 대비, 시대인재, 시대인재 서바이벌, 서바이벌 모의고사" />

    <title> 시대인재 </title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="icon" href="favicon_32.png" />
    <link rel="icon" href="favicon_32.ico" sizes="32x32" />

    <!-- S : css -->
    <link rel="stylesheet" type="text/css" href="/totalWebSite/sdijx/common/css/lib/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/totalWebSite/sdijx/common/css/lib/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/totalWebSite/sdijx/common/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/totalWebSite/sdijx/common/css/layout.css?ver=<%=Now()%>">
    <link rel="stylesheet" type="text/css" href="/totalWebSite/sdijx/common/css/board.css?ver=<%=Now()%>">
    <link rel="stylesheet" type="text/css" href="/totalWebSite/sdijx/common/css/modal.css?ver=<%=Now()%>">
    <!--// E : css -->

    <!-- S : js -->
    <script type="text/javascript" src="/totalWebSite/sdijx/common/js/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/totalWebSite/sdijx/common/js/lib/swiper.js"></script>
    <script type="text/javascript" src="/totalWebSite/sdijx/common/js/lib/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="/totalWebSite/sdijx/common/js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="/totalWebSite/sdijx/common/js/common.js?ver=<%=Now()%>"></script>
    <!--// E : js -->
</head>
<body>

<!-- S : wrap -->
<div id="wrap">
    <!-- S : header -->
    <header id="header">
        <div class="nav">
            <div class="wide-layout">
                <a href="//www.sdij.com/aca/" target="_blank">시대인재</a>
                <a href="//www.sdij.com/sdn/" target="_blank">N재수종합</a>
                <a href="/">DIGITAL CLASS</a>
                <a href="//www.sdijbooks.com/" target="_blank">BOOKS</a>
            </div>
        </div>

        <div class="gnb">
            <div class="wide-layout">
                <h1 class="logo"><a href="/"><i class="ico-logo">시대인재</i></a></h1>

                <ul class="gnb-menu">
                    <li>
                        <a href="#" class="gnb-1depth">컨텐츠</a>

                        <div class="gnb-2depth">
                            <a href="#">전체</a>
                            <a href="#">Revival</a>
                            <a href="#">Suvival</a>
                            <a href="#">ATG</a>
                            <a href="#">Shotcut</a>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="gnb-1depth">선생님 커리큘럼</a>

                        <div class="gnb-2depth">
                            <a href="#">전체</a>
                            <a href="#">국어</a>
                            <a href="#">수학</a>
                            <a href="#">영어</a>
                            <a href="#">생명과학</a>
                            <a href="#">화학</a>
                            <a href="#">물리학</a>
                            <a href="#">지구과학</a>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="gnb-1depth">디지털공부공간</a>
                        <div class="gnb-2depth">
                            <a href="#">학습환경</a>
                            <a href="#">학습관리(App)</a>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="gnb-1depth">입시R&amp;D</a>
                        <div class="gnb-2depth">
                            <a href="#">입시설명회</a>
                            <a href="#">입시컨설팅</a>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="gnb-1depth">수강신청</a>
                    </li>
                </ul>

                <div class="gnb-util btn-area">
                    <a href="#" class="btn-ico"><i class="ico-search">검색 바로가기</i></a>
                    <!-- <a href="/member/login.asp" class="btn">로그인</a> -->
                    <a href="/mypage/index.asp" class="btn">마이페이지</a>
                    <a href="/member/logout.asp" class="btn">로그아웃</a>
                </div>
            </div>
        </div>
    </header>
    <!--// E : header -->

    <!-- S : container -->
    <section id="container" class="index-container">
        
    </section>
    <!--// E : container -->

    <!-- S : footer -->
    <footer id="footer">
        <div class="wide-layout">
            <div class="site-map">
                <h1 class="logo"><i class="ico-ci">시대인재</i></h1>

                <ul>
                    <li><a href="//www.sdij.com/aca/" target="_blank">시대인재</a></li>
                    <li><a href="//www.sdij.com/sdn/" target="_blank">N재수종합</a></li>
                    <li><a href="/">DIGITAL CLASS</a></li>
                    <li><a href="//www.sdijbooks.com/" target="_blank">BOOKS</a></li>
                </ul>

                <ul>
                    <li><a href="#">컨텐츠</a></li>
                    <li><a href="#">디지털공부공간</a></li>
                    <li><a href="#">입시R&amp;D</a></li>
                    <li><a href="#">수강신청</a></li>
                </ul>
                
                <ul>
                    <li><a href="#">강사</a></li>
                    <li><a href="#">강좌</a></li>
                    <li><a href="#">검색</a></li>
                </ul>

                <ul>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>

            <div class="copyright float-area">
                <div class="copy fl">            
                    <span>㈜하이컨시 대표이사: 박근수</span>
                    <span>서울시 강남구 도곡로 460, 2층(대치동, 동선 빌딩)</span>
                    <span>서울시 강남구 도곡로 442, 401호</span>
                    <span>사업자등록번호: 488-88-00381</span>
                    <span>통신판매업신고 : 제 2019-서울강남-03031호 <a href="//www.ftc.go.kr/www/bizCommView.do?key=232&amp;apv_perm_no=2019322023630203031&amp;pageUnit=10&amp;searchCnd=bup_nm&amp;searchKrwd=%ED%95%98%EC%9D%B4%EC%BB%A8%EC%8B%9C&amp;pageIndex=1" class="txt-spannk" target="_blank">정보확인</a></span>
                    <span>학원설립, 운영 등록번호: 제&nbsp;10662호&nbsp;/제&nbsp;10556호</span>
                    <span>신고기관명: 서울시 강남서초교육지원청</span>            
                    <span>COPYRIGHT (주)하이컨시. All Rights Reserved.</span>
                </div>

                <div class="sns fr">
                    <a href="#" target="_blank"><i class="ico-fb">시대인재 페이스북 바로가기</i></a>
                    <a href="#" target="_blank"><i class="ico-inst">시대인재 인스타그램 바로가기</i></a>
                    <a href="#" target="_blank"><i class="ico-twit">시대인재 트위터 바로가기</i></a>
                    <a href="#" target="_blank"><i class="ico-ytb">시대인재 유튜브 바로가기</i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--/ / E : footer -->
</div>
<!--//  E : wrap -->

</body>
</html>