.layout-contents .dep-tit{ margin:50px auto 30px; font-family:'Noto Serif KR', 'Noto Serif', serif, 'Sans-serif', 'Noto Sans KR'; font-size:20px; font-weight:400; text-align:center; }

.layout-contents .visual-table table{ width:100%; border-bottom:1px solid #ededed; table-layout:fixed; }
.layout-contents .visual-table table tr th{ padding:20px; background-color:#f2f2f2; border-top:1px solid #000; border-bottom:1px solid #ededed; }
.layout-contents .visual-table table tbody tr th{ background-color:#fafafa; font-weight:400; text-align:left; }
.layout-contents .visual-table table tbody tr th.txt-center{ border-right:1px solid #ededed; }
.layout-contents .visual-table table tr td{ height:auto; padding:20px; border-bottom:1px solid #ededed; }
.layout-contents .visual-table table tr td .tit{ font-size:16px; font-weight:700; color:#000; }
.layout-contents .visual-table table tr td .tit small{ display:block; font-weight:400; font-size:14px; }
.layout-contents .visual-table table tr td .tit + .list-dash, .layout-contents .visual-table table tr td .tit + .tit{ margin-top:10px; }

.layout-contents .visual-table2 table tbody tr th, .layout-contents .visual-table2 table tr td{ text-align:center; }
.layout-contents .visual-table2 .gray-box{ margin-top:20px; padding:15px 0; background-color:#f2f2f2; font-size:14px; }

.layout-contents .board-tit{ margin:60px auto 30px; font-size:16px; font-weight:700; }
.layout-contents .board-tit small{ font-size:16px; font-weight:400; }

.layout-contents .visual-table3 table tbody tr th, .layout-contents .visual-table3 table tr td{ text-align:center; }
.layout-contents .visual-table3 table tr td{ font-size:13px; }