
.bg-box{ background:url(http://img.sdij.com/sd2019/pc/ico/bg_lecture.png) 50% 0  no-repeat; overflow:hidden; }
.lecture-wrap{ padding:74px 0 60px; }
.lecture-tit{ max-width:615px; height:145px; margin-left:30px; margin-bottom:120px; font-size:40px; font-weight:700; line-height:48px; display:-webkit-box; overflow:hidden; -webkit-line-clamp:3; -webkit-box-orient:vertical; white-space:normal; word-break:break-all; }

/* 투명박스 */
.overlay-box{ width:880px; padding:30px; position:relative; background:rgba(255,255,255,0.4); z-index:1; }
.overlay-box p{ font-size:20px; }
.overlay-box .teacher{ padding-bottom:5px; display:inline-block;  font-weight:700; border-bottom:2px solid #000;  }
.overlay-box .teacher-sub{ display:block; font-weight:700; }
.overlay-box .cent-height{ min-height:45px; }
.overlay-box .stick{ border-bottom:1px solid #999; }
.overlay-box ul.info-list{ width:100%; margin-top:20px; display:table;}
.overlay-box ul.info-list li{ width:20%; height:100px; display:table-cell; font-size:20px; font-weight:700; text-align:center; vertical-align:middle; border-right:1px solid #999;}
.overlay-box ul.info-list li:last-child{ border-right:none; }
.overlay-box .price{ margin-right:40px; font-size:30px; font-weight:700; }
.teacher-box{ position:absolute; width:520px; bottom:-30px; right:0; overflow:hidden; }

/*강좌 설명*/
.black-box.lecture{ padding:50px; position:relative; z-index:1; background:#222; }
.black-box.lecture .lecture-area{ display:table; table-layout:fixed; padding-left:30px; }
.black-box.lecture .lecture-area ul{ padding-right:55px; width:25%; display:table-cell; }
.black-box.lecture .lecture-area ul li{ margin-bottom:30px; }
.black-box.lecture .lecture-area ul li.dep-tit{ margin-bottom:30px; font-size:24px; line-height:inherit; }
.black-box.lecture .lecture-area .list-dash li.dep-tit:before{ content:''; }
.black-box.lecture .lecture-area .list-dash li{ display:-webkit-box; overflow:hidden; -webkit-line-clamp:2; -webkit-box-orient:vertical; white-space:normal; }
.black-box.lecture .lecture-area ul li a{ color:white;}

/*강좌 목차*/
.list-toggle2.lecture{ margin-bottom:110px; border-top:2px solid #000; }
.unit-info table{ width:100%; table-layout:fixed; }
.unit-info table tr th{ padding:25px 0; border-top:2px solid #000; border-bottom:1px solid #ddd; }
.unit-info table tr td{ height:40px; padding:15px 0; border-bottom:1px solid #ddd; }
.unit-info tr th.tit-info{ text-align:left; overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; word-wrap:normal; }
.unit-info tr th.tit-info .tit{ margin-right:10px; font-size:20px; font-weight:700; letter-spacing:-.015em; vertical-align:middle; }
.unit-info tr th.tit-info .txt{ font-size:15px; font-weight:normal; color:#999; vertical-align:middle; }
.unit-info tr th:first-child, .unit-info tr td:first-child{ padding-left:20px; }
.unit-info tr th:last-child, .unit-info tr td:last-child{ padding-right:20px; }
.unit-info .graph-info{ width:30px; height:30px; display:inline-block; position:relative; background-color:#fafafa; border:1px solid #a3a3a3; border-radius:50%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; vertical-align:middle; }
.unit-info .graph-info .pie-chart{ position:absolute; top:0; left:0; right:0; bottom:0; border-radius:50%; }
.unit-info .graph-info .pie-chart:after{ content:''; display:block; position:absolute; top:3px; left:3px; right:3px; bottom:3px; background-color:#fafafa; border-radius:50%; }
.unit-info .graph-info + .tit-info{ width:auto; padding:0 10px; display:inline-block; vertical-align:middle; }
.unit-info .play-info .btn{ height:40px; line-height:38px; margin-top:5px; }
.unit-info .play-info .btn:first-child{ margin-top:0; }
.unit-info .play-info .btn .ico{ margin-right:5px; }
.unit-info .lec-line th, .unit-info .lec-line td{ background-color:#fafafa; }
.lec-box{ background-color:#fafafa; }
.lec-box .tit{ line-height:48px; padding:0 20px; font-size:18px; font-weight:700; }
.lec-box .unit-info table tr td{ border-top:1px solid #ddd; border-bottom:none; }
.lec-box .unit-info table tr:first-child td{ border-top:none; }

/* 교재 설명 */
.abs-wrap{ padding:100px 0; position:relative; }
.abs-wrap .abs-content{ width:1100px; margin:0 auto; position:relative; z-index:2; }
.abs-wrap .book-img{ width:240px; display:flex; align-items:center; justify-content:center; }
.abs-wrap .book-img > img{ max-width:100%; border:1px solid #ddd; }
.abs-wrap .book-info{ width:830px; }
.abs-wrap .abs-tit{ margin-bottom:20px; font-size:30px; font-weight:700; word-break:break-all; display:-webkit-box; overflow:hidden; -webkit-line-clamp:2; -webkit-box-orient:vertical; white-space:normal; }
.abs-wrap .abs-sub{ margin-bottom:30px; color:#999; display:-webkit-box; overflow:hidden; -webkit-line-clamp:1; -webkit-box-orient:vertical; white-space:normal; word-break:break-all; }
.abs-wrap .book-info .float-area > *{ width:380px; }
.abs-wrap .abs-tbl dt{ width:50px; padding-right:10px; padding-bottom:20px; display:table-cell; font-weight:700; }
.abs-wrap .abs-tbl dd{ display:table-cell; color:#999; } 
.abs-wrap .abs-tbl .list-dash li, .abs-wrap .abs-tbl .list-number2 li{ margin-top:5px; }
.abs-wrap .abs-tbl .list-dash li:first-child, .abs-wrap .abs-tbl .list-number2 li:first-child{ margin-top:0; }
.abs-wrap .abs-bg{ margin-left:-410px; position:absolute; top:0; left:50%; right:0; bottom:0; background-color:#f4f4f4; z-index:1; }