/*************************************************************************
* @ 서비스명    : sidaeInjae Total pc Site
* @ 파일명     : /common/css/aca.css
* @ 페이지설명   : aca.css
* @ 작성자       : 김은옥 (publisher@to-be.co.kr)
* @ 작성일       : 2017-03-27
************************** 수정이력 ****************************************
* 번호    작업자       변경내용 
*_________________________________________________________________________
* 김은옥   최초작성 
*************************************************************************/

/************************************ Base Reset Style ************************************/


/*오시는길*/

.map_area{
  position:relative;
  margin:0 0 20px 0;
  font-size:16px;
  color:#323232;
  border:1px solid #d2d2d2;
  box-sizing:border-box;
  text-align:center;
  background:url(http://img.sdij.com/map/map_img.jpg) no-repeat center center;
  background:url(http://img.sdij.com/map/map_img.png) no-repeat center center;
  height:450px;
}
.map_area.location2{
  background:url(http://img.sdij.com/map/map_img2.jpg) no-repeat center center;
}

.map_area>a{
  display:block;
  height:100%;
}
.map_area span{
  font-size:25px;
  color:#ffffff;
  width:82px;
  height:70px;
  font-size:0;
  text-indent: -9999px;
  position:absolute;
  cursor:pointer;
  z-index:9
}
.map_area span.area1{
  left:412px;
  top:142px;
}
.map_area span.area1.on,.map_area span.area1:hover{
  background:url(http://img.sdij.com/map/m_flag1.png) no-repeat center top;
}
.map_area span.area2{
  left:315px;
  bottom:20px;
}
.map_area span.area2.on,.map_area span.area2:hover{
  background:url(http://img.sdij.com/map/m_flag2.png) no-repeat center top;
}
.map_area span.area3{
  right:25px;
  top:175px;
  width:120px;
  height:35px;
  z-index:10
}
.map_area span.area3.on,.map_area span.area3:hover{
  background:url(http://img.sdij.com/map/m_flag3.png) no-repeat right center;
}
.map_area span.area4{
  left:322px;
  top:80px;
}
.map_area span.area4.on,.map_area span.area4:hover{
  background:url(http://img.sdij.com/map/m_flag4.png) no-repeat center top;
}
.map_area span.area5{
  left:50px;
  top:175px;
  width:120px;
  height:35px;
  z-index:10
}
.map_area span.area5.on,.map_area span.area5:hover{
  background:url(http://img.sdij.com/map/m_flag5.png) no-repeat left center;
}
.map_area span.area6{
  right:234px;
  bottom:130px;
  width:82px;
  height:65px
}
.map_area span.area6.on,.map_area span.area6:hover{
  background:url(http://img.sdij.com/map/m_flag6.png) no-repeat center top;
}
.map_area span.area7{
  right:110px;
  top:150px;
  width:115px;
  height:58px;
}
.map_area span.area7.on,.map_area span.area7:hover{
  background:url(http://img.sdij.com/map/m_flag7.png) no-repeat center top;
}
.map_area span.area8{
  right:160px;
  top:8px;
  width:120px;
  height:32px;
}
.map_area span.area8.on,.map_area span.area8:hover{
  background:url(http://img.sdij.com/map/m_flag8.png) no-repeat right center;
}
.map_area span.area9{
  left:270px;
  bottom:200px;
  width:92px;
}
.map_area span.area9.on,.map_area span.area9:hover{
  background:url(http://img.sdij.com/map/m_flag9.png) no-repeat center top;
}
.map_area span.area10{
  left:136px;
  top:140px;
  width:138px;
}
.map_area span.area10.on,.map_area span.area10:hover{
  background:url(http://img.sdij.com/map/m_flag10.png) no-repeat center top;
}
.map_area span.area11{
  right:110px;
  bottom:145px;
  width:112px;
  height:85px;
}
.map_area span.area11.on,.map_area span.area11:hover{
  background:url(http://img.sdij.com/map/m_flag11.png) no-repeat center bottom;
}
.map_area span.area13{
  right:85px;
  top:78px;
  width:112px;
  height:70px;
}
.map_area span.area13.on,.map_area span.area13:hover{
  background:url(http://img.sdij.com/map/m_flag13.png) no-repeat center top;
}
.map_area.location2 span{
  display:none;
}
.map_area.location2 span.area12{
  left:329px;
  top:142px;
  width:82px;
  height:68px;
  display:block;
}
.map_area span.area12.on,.map_area span.area12:hover{
  background:url(http://img.sdij.com/map/m_flag12.png) no-repeat center top;
}

*[data-depth1="aca"][data-depth2="acainfo"][data-depth3="map"] [data-tab="type2"] button a{
  color:#a0a0a0;
}
*[data-depth1="aca"][data-depth2="acainfo"][data-depth3="map"] [data-tab="type2"] button.on a{
  color:#323232;
}

/*입시 설명회 */
.float_list{
  overflow:hidden;
  position:relative;
  margin:0;
  display: table;
  width:100%;
}
.float_list:before{
  border-bottom:2px #d2d2d2 solid;
  content: "";
  display: block;
  width:100%;
  bottom:0;
  height:2px;
  position:absolute;
}
.float_list li{width:50%;box-sizing:border-box;border-bottom:2px #d2d2d2 solid;height: auto;position:relative;display: table-cell;vertical-align: middle;padding:18px 0;}
.float_list li.on{
  background:#ffad00;
}
.float_list li.on a:after{
  content: "";
  display: block;
  position:absolute;
  width:100%;
  height:2px;
  bottom:-2px;
  left:0;
  background: #323232;
}
.float_list li:hover a{
    text-decoration:underline;
    background:none;
}
.float_list li a{
  display:block;
  background:none;
  vertical-align: middle;
  height:auto;
  line-height:22px;
  font-size:16px;
  text-align: center;
  color:#a0a0a0;
  width:90%;
  flex:unset;
  margin:  0 auto!important;
}
.float_list li.on a{
 color:#323232;
 font-weight:bold;
}


/*강좌예약*/
*[data-depth1="aca"][data-depth2="class_reservation"][data-depth3="list"]{
  /*! overflow:hidden; */
}
[data-depth1="aca"][data-depth2="class_reservation"][data-depth3="list"] .location{
  position:fixed;
  top:61px;
  width:100%;
  background:#f5f5f5;
  z-index:9;
}
[data-depth1="aca"][data-depth2="class_reservation"][data-depth3="list"] #content{
  position:fixed;
  max-width: 100%;
  width:100%;
  top:92px;
  background:#f5f5f5;
  z-index:9;
  border-bottom:1px #d2d2d2 solid;
}
*[data-depth1="aca"][data-depth2="class_reservation"][data-depth3="list"] #content_wrap{
  margin: 0;
  padding:328px 0 0 0;
  min-height:89%
}
/*20180611*/
[data-depth1="aca"][data-depth2="class_reservation"][data-depth3="list"] .middle{
  width:800px;
  margin:0 auto;
}
.notice_box{
  font-size:14px;
  padding:0 0 25px 0;
  padding:25px 190px 25px 0;
  line-height: 25px;
  position:relative;
}
.notice_box .b{
  display: block;
  font-size:16px;
  font-family:'neob';
  padding:0 0 10px 0;
}
.notice_box button{
  position:absolute;
  right:0;
  top:50%;
  margin:-25px 0 0 0;
}
.reservation_wrap .class_reservation{ 
   margin:0; 
} 
.reservation_wrap{
  padding:50px 0; 
  height:auto;
}
.reservation_wrap .middle_box{
  max-width:740px;
  margin:0 auto;
  position:relative;
}
.reservation_wrap .middle_box *[data-table="type2"] .no_list{
  padding:30px 0;
}
.reservation_wrap .middle_box *[data-table="type2"] td .class_name{
  display: block;
  text-align: left;
  padding:0 15px;
  line-height: 18px;
  font-family:'neob';
  margin:5px 0 0 0;
}
.reservation_wrap .middle_box *[data-table=type2] td span.ing,
.reservation_wrap .middle_box *[data-table=type2] td span.finish{
  display: block;
  text-align: left;
  padding:0 0 0 25px;
  font-size:12px;
  color:#ffffff;
  background:url('http://img.sdij.com/common/ing_bg.png') no-repeat 16px center;
}
.reservation_wrap .middle_box *[data-table=type2] td span.finish{
  background:url('http://img.sdij.com/common/finish_bg.png') no-repeat 16px center;
}
.reservation_wrap .middle_box *[data-table="type2"] td button{
  width:60px;
  line-height:20px;
  height:auto;
  padding:10px 0;
}
.reservation_wrap .middle_box [data-banner="right"]{
  position:absolute;
  top:0
}

*[data-depth1="aca"][data-depth2="consulting"][data-depth3="check"][data-depth4="detail"] *[data-table="type4"] td span{display:block;}

.depth_t{
  font-size:14px;
  line-height: 20px;
  border-top:1px solid #323232;
  border-bottom:1px #d2d2d2 solid;
}
.depth_t th{
  border-bottom:1px #d2d2d2 solid;
}
.depth_t td{
  padding:20px;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
.depth_t td .btn_wrap3 button{
  height:120px;
}
.depth_t td table{
  border-spacing:0;
  width:100%;
}
.depth_t td table td,
.depth_t td table th{
  text-align: center;
}
.depth_t td table th{
  background:#ebebeb;
  line-height:30px;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
.depth_t td table td{
  border-left: 1px solid #d2d2d2;
  border-bottom:0;
  padding:15px;
}
.depth_t td table th:first-child,
.depth_t td table td:first-child{
  border-left:0;
}
