@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select, input, textarea, button{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
input{ -webkit-appearance:none; -webkit-border-radius:0; }

/* mobiles */
@media all and (max-width:374px) and (orientation:portrait){html{font-size:18px;}}
@media all and (max-width:666px) and (orientation:landscape){html{font-size:18px;}}
@media all and (min-width:375px) and (max-width:413px) and (orientation:portrait){html{font-size:20px;}}
@media all and (min-width:667px) and (max-width:812px) and (orientation:landscape){html{font-size:20px;}}
@media all and (min-width:414px) and (max-width:539px) and (orientation:portrait){html{font-size:22px;}}
@media all and (min-width:813px) and (max-width:959px) and (orientation:landscape){html{font-size:22px;}}
@media all and (min-width:540px) and (max-width:599px) and (orientation:portrait){html{font-size:24px;}}
@media all and (min-width:960px) and (max-width:1023px) and (orientation:landscape){html{font-size:24px;}}

/* Tablets */
@media all and (min-width:600px) and (max-width:799px) and (orientation:portrait){html{font-size:24px;}}
@media all and (min-width:1024px) and (max-width:1279px) and (orientation:landscape){html{font-size:24px;}}
@media all and (min-width:800px) and (max-width:1023px) and (orientation:portrait){html{font-size:26px;}}
@media all and (min-width:1280px) and (max-width:1335px) and (orientation:landscape){html{font-size:26px;}}
@media all and (min-width:1024px) and (orientation:portrait){html{font-size:30px;}}
@media all and (min-width:1336px) and (orientation:landscape){html{font-size:30px;}}

html, body{ height:100%; background-color:#EBE7E7; overflow:hidden; }

/* wrap */
#wrap{ min-width:auto; height:100%; margin:0 auto; overflow:auto; }
#wrap > *{ font-size:0.533333333rem; font-weight:400; letter-spacing:-.05em; }

/* container */
#container{ max-width:1366px; min-height:100%; margin:0 auto; padding:3.666666667rem 0 1rem; background-color:#fff; }
#container.flex-container{ width:100%; height:100%; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }
#container.player-container{ padding-top:2.666666667rem; background-color:#EBE7E7; }

/* footer */
#footer{ min-height:auto; padding:0; }

/* layout */
.content-layout{ width:auto; max-width:1366px; margin:0 auto; padding:0 1.066666667rem; }
.form-layout{ width:15.33333333rem; }

.container-user{ padding:0 1.066666667rem; position:absolute; top:0.666666667rem; left:0; right:0; text-align:right; }

/* mobile */
@media all and (max-width:539px) and (orientation:portrait){
    #wrap > *{ font-size:0.6rem; }
    .form-layout{ width:100%; padding:0 1.066666667rem; }
}
@media all and (max-width:959px) and (orientation:landscape){
    #wrap > *{ font-size:0.6rem; }
    .form-layout{ width:100%; padding:0 1.066666667rem; }
}

.float-area{ *zoom:1; }
.float-area:after{ content:''; display:block; clear:both; }
.float-area .fl{ float:left; }
.float-area .fr{ float:right; }

.flex-area{ margin:0 -0.333333333rem; display:flex; }
.flex-area > *{ margin:0 0.333333333rem; }

.relative{ position:relative; }
.absolute{ position:absolute; }
.blind{ width:0; height:0; line-height:0; position:absolute; left:-9999px; font-size:0; overflow:hidden; }
.border-none{ border:none !important; }

.txt-left{ text-align:left !important; }
.txt-right{ text-align:right !important; }
.txt-center{ text-align:center !important; }

.mb0{ margin-bottom:0 !important; }
.mb1{ margin-bottom:1rem !important; }
.mt1{ margin-top:1rem !important; }
.mt2{ margin-top:2rem !important; }

.color-gray{ color:#999 !important; }


/* tit */
.tit-dep1{ margin-bottom:1rem; padding-bottom:0.266666667rem; font-size:0.866666667rem; font-weight:700; text-align:center; }
.tit-dep1 > small{ margin-top:0.5rem; display:block; font-size:0.666666667rem; font-weight:400; word-break:keep-all; }
.tit-dep2{ margin-bottom:0.5rem; font-size:0.666666667rem; font-weight:700; }
.tit-area{ position:relative; }
.tit-area .tit-side{ position:absolute; top:0; right:0; }

/* txt */
.strong{ font-weight:700; }
.txt-link, .txt-link:hover{ display:inline-block; text-decoration:underline; }

.link-area{ margin-top:0.666666667rem; text-align:center; }
.link-area > a{ line-height:0.9rem; padding-left:0.666666667rem; position:relative; font-size:0.533333333rem; }
.link-area > a:first-child{ padding-left:0; }
.link-area > a:after{ content:''; width:1px; display:block; position:absolute; top:6px; left:0.266666667rem; bottom:4px; background-color:#000; }
.link-area > a:first-child:after{ display:none; }

/* btn */
.btn{ width:100%; height:1.333333333rem; line-height:1.266666667rem; display:inline-block; background-color:#fff; border:none; border:1px solid #000; border-radius:1rem; font-size:0.533333333rem; text-align:center; vertical-align:top; box-sizing:border-box; }
.btn:hover{ text-decoration:none; }
.btn-S{ width:auto; padding:0 0.333333333rem; font-size:0.466666667rem; }
.btn-M{ width:auto; padding:0 0.666666667rem; }
.btn-disabled, .btn-disabled:hover{ border-color:#999; color:#999; cursor:default; }
.btn-black{ background-color:#100f0f; border-color:#100f0f; color:#fff; }
.btn-gray{ background-color:#eee; border-color:#eee; }

/* input, select, textarea */
.input-type1{ width:100%; display:inline-block; }
.input-type1 input{ width:100%; height:1.8rem; line-height:1.733333333rem; padding:0 0.666666667rem; display:inline-block; border:none; border-radius:0; border-bottom:1px solid #ebe7e7; font-size:0.466666667rem; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; letter-spacing:-.05em; }
.input-type1 input:focus{ border-color:#100f0f; }

.select-type1{ width:100%; display:inline-block; position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; vertical-align:top; }
.select-type1 select{ width:100%; height:1.8rem; line-height:1.733333333rem; padding-left:0.733333333rem; padding-right:1.666666667rem; position:relative; background-color:#fff; border:none; border-bottom:1px solid #ebe7e7; font-size:0.533333333rem; vertical-align:top; z-index:1; }
.select-type1 select:disabled{ background-color:#eee; color:#999; }
.select-type1:after{ content:''; width:0.6rem; height:0.333333333rem; margin-top:-0.166666667rem; display:block; position:absolute; top:50%; right:0.566666667rem; background:url(http://img.sdij.com/sd2019/app/common/ico_bottom.png) 50% 50% no-repeat; background-size:100% 100%; z-index:2; }

.textarea{ width:100%; }
.textarea textarea{ width:100%; line-height:0.8rem; padding:0.5rem 0.666666667rem; border:none; border:1px solid #ebe7e7; font-size:0.466666667rem; text-align:left; box-shadow:none; vertical-align:middle; resize:none; -webkit-appearance:none; }

.input-type1 input::placeholder, .textarea textarea::placeholder{ color:#999; opacity:1; }
.input-type1 input::-webkit-input-placeholder, .input-type1 input:-ms-input-placeholder, .input-type1 input:-mos-input-placeholder, .textarea textarea::-webkit-input-placeholder, .textarea textarea:-ms-input-placeholder, .textarea textarea:-mos-input-placeholder{ color:#999; }

/* list */
.list-dotted.dash li, .list-dash li{ margin:0.166666667rem auto; }

.list-cir{ margin:0 -0.333333333rem; display:table; }
.list-cir > li{ width:25%; min-height:3.333333333rem; margin-bottom:0.666666667rem; padding:0 0.333333333rem; display:table-cell; position:relative; word-break:keep-all; }
.list-cir > li .cir{ width:3.333333333rem; height:3.333333333rem; margin:0 auto 0.666666667rem; display:flex; background-color:#626262; border-radius:100%; color:#fff; justify-content:center; align-items:center; }
.list-cir > li .cir:after{ content:''; width:1rem; height:1rem; margin-top:1.133333333rem; margin-left:-0.9rem; position:absolute; top:0; left:0; border-top:2px solid #626262; border-right:2px solid #626262; transform:rotate(45deg); }
.list-cir > li:first-child .cir:after{ display:none; }

/* table */
.table-type1{ overflow:hidden; }
.table-type1 table{ width:calc( 100% + 1px ); margin-left:-1px; border-top:1px solid #ebe7e7; }
.table-type1 table tr th, .table-type1 table tr td{ padding:0.666666667rem 0.333333333rem; border-left:1px solid #ebe7e7; border-bottom:1px solid #ebe7e7; word-break:keep-all; vertical-align:middle; }
.table-type1 table tr th{ background-color:#fafafa; }
.table-type1 table tr td{ text-align:center; }
.table-type1 table tr td > .tit-link{ max-width:100%; padding-right:0.833333333rem; display:inline-block; position:relative; overflow:hidden; text-overflow:ellipsis; word-wrap:normal; white-space:nowrap; }
.table-type1 table tr td > .tit-link:after{ content:''; width:0.333333333rem; height:0.333333333rem; margin-top:-0.166666667rem; position:absolute; top:50%; right:0.266666667rem; border-top:0.066666667rem solid #000; border-right:0.066666667rem solid #000; transform:rotate(45deg); }
.table-btn{ font-size:0; }
.table-btn > .btn{ margin-left:0.333333333rem; }
.table-btn > .btn:first-child{ margin-left:0; }

/* form */
.form-small{ width:auto; padding-top:0; border-top:none; }
.form-small > ul > li{ padding:0.333333333rem 0; }
.form-small .form-radio{ margin-bottom:0.333333333rem; padding:0 0.5rem; }
.form-small [class*='col']{ width:100%; display:table; table-layout:fixed; }
.form-small [class*='col'] > *{ padding:0 0.166666667rem; display:table-cell; }
.form-small [class*='col'] > *:first-child{ padding-left:0; }
.form-small [class*='col'] > *:last-child{ padding-right:0; }
.form-small .type-col2 > .input-type1{ width:75%; }
.form-small .type-col2 > span{ width:25%; }
.form-small .type-col4 > *{ width:25%; }
.form-small .select-type1, .form-small .btn{ margin-top:auto; font-size:0.466666667rem; }
.form-small .form-btn{ margin:0.666666667rem -0.333333333rem 0; display:-ms-flexbox; display:-webkit-flex; display:flex; }
.form-small .form-btn > *{ width:auto; margin:0 0.333333333rem; flex:1; }
.form-small .form-btn .btn{ height:2rem; line-height:1.933333333rem; border-radius:1rem; font-size:0.6rem; }

/* modal */
.modal-wrap{ width:100%; height:100%; display:none; position:fixed; top:0; bottom:0; left:0; right:0; z-index:9999; }
.modal-wrap .modal-bg{ position:absolute; top:0; bottom:0; left:0; right:0; background-color:#000; opacity:.5; filter:alpha(opacity=50); z-index:-1; }

.modal-container{ display:none; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); }
.modal-M{ width:16.66666667rem; }
.modal-F{ width:100%; height:100%; top:0; left:0; transform:translate(0, 0); }

/* default modal */
.modal-container .modal-header{ height:2.333333333rem; line-height:2.266666667rem; position:relative; background-color:#000; border-top-left-radius:1rem; border-top-right-radius:1rem; font-size:0.6rem; font-weight:700; color:#fff; text-align:center; }
.modal-container .modal-header .modal-tit{ font-weight:700; }
.modal-container .modal-header .btn-close{ width:0.6rem; height:0.6rem; margin-top:-0.3rem; position:absolute; top:50%; right:1rem; background:url(http://img.sdij.com/sd2019/app/common/ico_close_w.png) 50% 0 no-repeat; background-size:100% 100%; font-size:0; text-indent:-9999em; }
.modal-container .modal-content{ padding:1rem; background-color:#fff; border-bottom-left-radius:1rem; border-bottom-right-radius:1rem; }

/* full modal */
.modal-F .modal-header{ height:auto; line-height:1.266666667rem; padding:1.333333333rem 0 1rem; position:absolute; top:0; left:0; right:0; background-color:#fff; border-radius:0; font-size:0.866666667rem; color:#000; z-index:2; }
.modal-F .modal-header .btn-close{ background-image:url(http://img.sdij.com/sd2019/app/common/ico_close_g.png); }
.modal-F .modal-content{ height:100%; padding:3.933333333rem 0 3.333333333rem; border-radius:0; overflow:auto; z-index:1; }
.modal-F .modal-btn{ display:flex; position:absolute; left:0; right:0; bottom:0; z-index:3; }
.modal-F .modal-btn .btn{ height:2.666666667rem; line-height:2.6rem; border:none; border-radius:0; font-size:0.666666667rem; font-weight:700; }

/* mobile */
@media all and (max-width:539px) and (orientation:portrait){
    /* list */
    .list-cir{ display:block; }
    .list-cir > li{ width:100%; min-height:3.333333333rem; padding-left:4rem; display:flex; align-items:center; }
    .list-cir > li .cir{ margin-top:-1.666666667rem; position:absolute; top:50%; left:0.333333333rem; }
    .list-cir > li .cir:after{ display:none; }

    /* table */
    .table-mobile table tr th{ display:none; }
    .table-mobile table tr td{ display:block; border-left:none; text-align:left; }
    .table-mobile table tr td:first-child{ margin-top:0.666666667rem; border-top:1px solid #000; }
    .table-mobile table tr td:before{ content:attr(data-th); width:30%; display:inline-block; font-weight:bold; }
}
@media all and (max-width:959px) and (orientation:landscape){
    /* list */
    .list-cir{ display:block; }
    .list-cir > li{ width:100%; min-height:3.333333333rem; padding-left:4rem; display:flex; align-items:center; }
    .list-cir > li .cir{ margin-top:-1.666666667rem; position:absolute; top:50%; left:0.333333333rem; }
    .list-cir > li .cir:after{ display:none; }

    /* table */
    .table-mobile table tr th{ display:none; }
    .table-mobile table tr td{ display:block; border-left:none; text-align:left; }
    .table-mobile table tr td:first-child{ margin-top:0.666666667rem; border-top:1px solid #000; }
    .table-mobile table tr td:before{ content:attr(data-th); width:30%; display:inline-block; font-weight:bold; }
}