<!DOCTYPE html>
<html lang="ko">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minmum-scale=1, mixmum-scale=1">
  <meta name="title" content="시대인재">
  <meta name="description" content="시대인재, CONTENTS / CONSULTING / CARE &amp; REVIEW, 만점으로 가는 지름길 컨텐츠, 2018 수능 전과목 만점자 배출">
  <meta name="keywords" content="2019 수능대비, 시대인재, 시대인재온, 시대인재 N, 시대인재 대치, 시대인재 분당, 시대인재 N, 시대인재 서바이벌, 모의고사, 수능, 대입, 컨설팅">

  <title> 시대인재 </title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.png">
  <link rel="icon" href="/favicon_32.ico" sizes="32x32">
	<!-- S : css -->
	<link rel="stylesheet" type="text/css" href="/totalMobileSite/renew2019/common/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/totalMobileSite/renew2019/common/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/totalMobileSite/renew2019/common/css/board.css">
	<!--// E : css -->

	<!-- S : js -->
	<script type="text/javascript" src="/totalMobileSite/renew2019/common/js/lib/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/totalMobileSite/renew2019/common/js/lib/jquery-scrolltofixed-min.js"></script>
	<script type="text/javascript" src="/totalMobileSite/renew2019/common/js/mo_common.js"></script>
	<!--// E : js -->

	<!-- <% 
		URL_IMG = "/renew2019/img" '이미지 URL 정의
	%> -->
 </head>
 <body> 
	<!-- S : wrap -->
	<div id="wrap">
		<!-- S : header -->
		<header id="header">
			<!-- S : gnb -->
			<div class="gnb-area">
				<button class="btn-gnb"><span class="ico ico-menu">메뉴</span></button>
				<h1>시대인재 N재수종합</h1>
			</div>
			<!--// E : gnb -->
		</header>
		<!--// E : header -->

		<!-- S : container -->
		<div id="container">
			<!-- S : nav -->
			<nav class="nav-area">
				<div class="content-layout">
					<div class="nav">
						<!-- <% if true then '재종반 GNB %> -->
						<ul>
							<li><a href="#">커리큘럼</a></li>
							<li><a href="#">부엉이라이브러리</a></li>
							<li><a href="#">실전모의고사</a></li>
							<li><a href="#">만점구조시스템</a></li>
							<li><a href="#">응시원서접수</a></li> 
							<li><a href="#">입시 R&amp;D</a></li>
							<li><a href="#">명예의전당</a></li>
							<li><a href="#">오시는길</a></li>
						</ul>	
						<!-- <% else '단과반 GNB %>
						<ul>
							<li><a href="#">시간표</a></li>
							<li><a href="#">부엉이라이브러리</a></li>
							<li><a href="#">실전모의고사</a></li>
							<li><a href="#">만점구조시스템</a></li>
							<li><a href="#">설명회</a></li>
							<li><a href="#">입시 R&amp;D</a></li>
							<li><a href="#">오시는길</a></li>
						</ul>
						<% end if %> -->
					</div>
					
					<div class="news-letter">
						<h4 class="dep-tit">Newsletter</h4>
						<label class="input-search">
							<input type="text" class="input-text" placeholder="Your Email Address">
							<input type="submit" class="btn btn-xs btn-darkgray" value="ok">
						</label>
					</div>

					<div class="family-site">
						<ul>
							<li><a href="#">시대인재 N재수종합</a></li>
							<li><a href="#">시대인재 단과 대치</a></li>
							<li><a href="#">시대인재 단과 분당</a></li>
							<li><a href="#">시대인재 ON</a></li>
							<li><a href="#">시대인재 Books</a></li>
						</ul>
					</div>

					<div class="copyright">
						<ul>
							<li>시대인재 학원: 02-552-2373(고3), 02-553-2373(고1/2)</li>
							<li>Copyright (주)하이컨시. All Rights Reserved.</li>
						</ul>
					</div>
				</div>
			</nav>
			<!--// E : nav -->

			<!-- S : 컨텐츠 영역 -->
			<div class="layout-container">
				<div class="content-layout">
					<!-- S : 브랜드 정의 영역 -->
					<div class="tit-layout">
						<div class="tit-box">
							Master Key To Success
						</div>
						<div class="txt-box">
							<p>시대인재는<br>학생들의 시간가치와 결과가치를 이해하여</p>
							<p>수많은 시간 정직한 공부를 하더라도<br>일부 학생들만 성공하는 냉혹한 입시 현실을 거슬러</p>
							<p>한차원 다른 강의와 컨텐츠의 창조적 재배열을 통한<br>Shortcut의 실현으로</p>
							<p>운의 영역을 초극하여 학생 자신의 Hidden Score를 실현하는<br>만점구조시스템을 구현합니다</p>
						</div>
					</div>
					<!--// E : 브랜드 정의 영역 -->
				
					<!-- S : 메인 메뉴 리스트 -->
					<div class="gallery-list">
						<ul>
							<li>
								<a href="#">
									<span class="menu-txt">커리큘럼</span>
									<span class="more-txt">more &gt;</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="menu-txt">부엉이 라이브러리</span>
									<span class="more-txt">more &gt;</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="menu-txt">실전모의고사</span>
									<span class="more-txt">more &gt;</span>
								</a>
							</li>
							<li class="list-banner">
								<a href="#"><img src="/totalMobileSite/renew2019/img/banner/main_banner.png" alt="Meet Our Optimum Contents System 시대인재의 만점 구조 시스템"></a>
							</li>
							<li>
								<a href="#">
									<span class="menu-txt">응시원서접수</span>
									<span class="more-txt">more &gt;</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="menu-txt">모집요강</span>
									<span class="more-txt">more &gt;</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="menu-txt">입시 R&amp;D</span>
									<span class="more-txt">more &gt;</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="menu-txt">급식 메뉴</span>
									<span class="more-txt">more &gt;</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="menu-txt">명예의 전당</span>
									<span class="more-txt">more &gt;</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="menu-txt">오시는길</span>
									<span class="more-txt">more &gt;</span>
								</a>
							</li>
						</ul>
					</div>
					<!--// E : 메인 메뉴 리스트 -->

					<div class="info-box">
						시대인재 N재수종합반의 PC사이트에서<br>
						더 많은 입시정보를 제공합니다.<br>

						<a href="#" class="txt-link mt10">PC Ver.으로 보기</a>
					</div>
				</div>
			</div>
			<!--// E : 컨텐츠 영역 -->
		</div>
		<!--// E : container -->

		<button class="btn btn-xs btn-top" onclick="fnScrollObj('#header')">Top</button>
	</div>
	<!--// E : wrap -->
 </body>
</html>