color-red.graph_wrap{ width:840px; padding:40px 0; position:relative; text-align:center; }
.graph_wrap .legend{ position:absolute; top:-40px; left:0; right:0; text-align:right; }
.graph_wrap .legend li{ line-height:40px; margin-left:20px; display:inline-block; font-size:15px; }
.graph_wrap .legend li:first-child{ margin-left:0; }
.graph_wrap .legend li:before{ content:''; width:14px; height:14px; margin-right:5px; display:inline-block; position:relative; top:-2px; vertical-align:middle; }
.graph_wrap .legend li.gray:before{ width:14px; height:14px; background-color:#ccc; }
.graph_wrap .legend li.blue:before{ width:14px; height:4px; background-color:#000; }
.graph_wrap .graph_area{ height:200px; position:relative; }
.graph_wrap .graph_area:after{ content:''; width:100%; position:absolute; left:0; bottom:0px; border-bottom:1px solid #323232; }
.graph_wrap .graph_area .score_bg{ height:100%; padding-left:40px; position:relative; }
.graph_wrap .graph_area .score_bg li{ height:20%; position:relative; border-top:1px solid #d2d2d2; box-sizing:border-box; }
.graph_wrap .graph_area .score_bg li .s_num{ position:absolute; top:-12px; left:-30px; font-size:15px; }
.graph_wrap .graph_area .score_bar{ width:800px; height:100%; display:table; position:absolute; bottom:0; left:40px; text-align:left; table-layout:fixed; }
.graph_wrap .graph_area .score_bar>li{ height:100%; display:table-cell; position:relative; font-size:14px; text-align:center; }
.graph_wrap .graph_area .score_bar li span.month{ position:absolute; bottom:-35px; left:0; right:0; }
.graph_wrap .graph_area .score_bar>li.on span.month{ color:#348ee3; }
.graph_wrap .graph_area .score_bar li span.g_bar{ width:10px; height:100%; margin-left:-5px; position:absolute; left:50%; bottom:0; background-color:#ccc; cursor:pointer; }
.graph_wrap .graph_area .score_bar li .blue_bar{ width:10px; height:5px; margin-left:-5px; margin-bottom:-10px; position:absolute; left:50%; bottom:100%; background-color:#000; z-index:3; }
.graph_wrap .graph_area .score_bar li .blue_bar .data{ height:auto; margin-left:-30px; padding:10px; display:none; position:absolute; top:-133px; left:50%; background-color:#fff; border:1px solid #d2d2d2; box-sizing:border-box; }
.graph_wrap .graph_area .score_bar li:hover .blue_bar .data{ display:block; }
.graph_wrap .graph_area .score_bar li .blue_bar .data.on{ display:block; }
.graph_wrap .graph_area .score_bar li .blue_bar .data:after{ content:''; width:20px; height:14px; margin-left:-10px; position:absolute; left:50%; bottom:-12px; background:url('http://img.sdij.com/common/bottom_arrow.png') no-repeat 50% 50%; }
.graph_wrap .graph_area .score_bar li .blue_bar .data > span{ width:38px; margin-bottom:5px; padding-bottom:5px; display:inline-block; border-bottom:1px solid #d2d2d2; font-weight:600; font-size:12px; }
.graph_wrap .graph_area .score_bar li.on .blue_bar .data>span{ color:#348ee3 }
.graph_wrap .graph_area .score_bar li .blue_bar .data ul li{ line-height:17px; font-size:12px; text-align:center; }
.graph_wrap .graph_area .score_bar li .blue_bar .data ul li:first-child{ font-weight:600; }
.graph_wrap .graph_area .score_bar li .blue_bar .data ul li span{ display:block; }