<!DOCTYPE html>
<html lang="ko">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minmum-scale=1, mixmum-scale=1">
  <meta name="title" content="시대인재">
  <meta name="description" content="시대인재, CONTENTS / CONSULTING / CARE &amp; REVIEW, 만점으로 가는 지름길 컨텐츠, 2018 수능 전과목 만점자 배출">
  <meta name="keywords" content="2019 수능대비, 시대인재, 시대인재온, 시대인재 N, 시대인재 대치, 시대인재 분당, 시대인재 N, 시대인재 서바이벌, 모의고사, 수능, 대입, 컨설팅">

  <title> 시대인재 </title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.png">
  <link rel="icon" href="/favicon_32.ico" sizes="32x32">
	<!-- S : css -->
	<link rel="stylesheet" type="text/css" href="/totalWebSite/renew2019/common/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/totalWebSite/renew2019/common/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/totalWebSite/renew2019/common/css/board.css">
	<!--// E : css -->

	<!-- S : js -->
	<script type="text/javascript" src="/totalWebSite/renew2019/common/js/lib/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/totalWebSite/renew2019/common/js/lib/jquery.cycle2.js"></script>
	<script type="text/javascript" src="/totalWebSite/renew2019/common/js/lib/jquery.cycle2.carousel.min.js"></script>
	<script type="text/javascript" src="/totalWebSite/renew2019/common/js/lib/jquery-scrolltofixed-min.js"></script>
	<script type="text/javascript" src="/totalWebSite/renew2019/common/js/pc_common.js"></script>
	<!--// E : js -->
 </head>
 <body> 
	<!-- S : wrap -->
	<div id="wrap">
		<!-- S : header -->
		<div id="header">
			<!-- S : gnb -->
			<div class="gnb-area">
				<div class="content-layout float-area">
					<button class="btn-gnb"><span class="ico ico-menu">메뉴</span></button>

					<h1 class="fl">시대인재 N재수종합</h1>
		
					<div class="gnb fr">
						<ul class="float-area">
							<li><a href="#">로그인</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--// E : gnb -->

			<!-- S : nav -->
			<div class="nav-area">
				<div class="tit-layout float-area">
					<div class="fl">
						<div class="notice">
							<h4 class="dep-ttl">공지</h4>
							<ul class="notice-list">
								<li><a href="#">시대인재 N재종반 2학기 교재비 안내</a></li>
								<li><a href="#">재원생 부엉이 포스트 성적 열람 방법 안내</a></li>
								<li><a href="#">1월 중순 설명회 안내</a></li>
							</ul>
						</div>
						<div class="news-letter">
							<h4 class="dep-ttl">Newsletter</h4>
							<label class="input-search">
								<input type="text" class="input-text" placeholder="Your Email Address">
								<input type="submit" class="btn btn-xs btn-darkgray" value="ok">
							</label>
						</div>
					</div>
					<div class="nav fr">
						<dl>
							<dt class="dep-ttl">단과반 콘텐츠</dt>
							<dd><a href="#">시간표</a></dd>
							<dd><a href="#">설명회</a></dd>
							<dd><a href="#">컨설팅</a></dd>
							<dd><a href="#">입시정보</a></dd>
							<dd><a href="#">부엉이포스트</a></dd>
						</dl>
						<dl>
							<dt class="dep-ttl">학원 소개</dt>
							<dd><a href="#">학원소개</a></dd>
							<dd><a href="#">학원시설</a></dd>
							<dd><a href="#">공지사항</a></dd>
							<dd><a href="#">오시는길</a></dd>
							<dd><a href="#">강사/직원채용</a></dd>
						</dl>
						<dl>
							<dt class="dep-ttl">회원관리</dt>
							<dd><a href="#">로그인</a></dd>
							<dd><a href="#">회원가입</a></dd>
						</dl>
					</div>
				</div>
			</div>
			<!--// E : nav -->
		</div>
		<!--// E : header -->

		<!-- S : container -->
		<div id="container">
			<div class="layout-container">
				<div class="main-tit tit-layout float-area">
					<div class="txt-box fl">
						Master Key To Success
					</div>
					<div class="txt-box fr">
						시대인재는<br>
						학생들의 시간가치와 결과가치를 이해하여<br><br>

						수많은 시간 정직한 공부를 하더라도<br>
						일부 학생들만 성공하는 냉혹한 입시 현실을 거슬러<br><br>

						한차원 다른 강의와 컨텐츠의 창조적 재배열을 통한<br>
						Shortcut의 실현으로<br><br>

						운의 영역을 초극하여 학생 자신의 Hidden Score를 실현하는<br>
						만점구조시스템을 구현합니다
					</div>
				</div>
			</div>
		</div>
		<!--// E : container -->
		
		<!-- S : footer -->
		<div id="footer">
			<div class="content-layout float-area">
				<div class="family-site">
					<h1><img src="img/logo.png" alt="시대인재 로고"></h1>

					<ul>
						<li><a href="#">시대인재 N재수종합</a></li>
						<li><a href="#">시대인재 단과 대치</a></li>
						<li><a href="#">시대인재 단과 분당</a></li>
						<li><a href="#">시대인재 ON</a></li>
						<li><a href="#">시대인재 Books</a></li>
					</ul>
				</div>

				<div class="footer-nav">
					<dl>
						<dt class="dep-ttl">재종반 소개</dt>
						<dd><a href="#">커리큘럼</a></dd>
						<dd><a href="#">부엉이라이브러리</a></dd>
						<dd><a href="#">실전모의평가</a></dd>
						<dd><a href="#">만점구조시스템</a></dd>
					</dl>
					<dl>
						<dt class="dep-ttl">재종반 콘텐츠</dt>
						<dd><a href="#">모집요강</a></dd>
						<dd><a href="#">응시원서접수</a></dd>
						<dd><a href="#">1:1 질의응답</a></dd>
						<dd><a href="#">부엉이포스트</a></dd>
						<dd><a href="#">급식메뉴</a></dd>
						<dd><a href="#">명예의전당</a></dd>
						<dd><a href="#">설명회</a></dd>
					</dl>
					<dl>
						<dt class="dep-ttl">학원소개</dt>
						<dd><a href="#">학원소개</a></dd>
						<dd><a href="#">학원시설</a></dd>
						<dd><a href="#">공지사항</a></dd>
						<dd><a href="#">오시는길</a></dd>
						<dd><a href="#">강사/직원채용</a></dd>
					</dl>
					<dl>
						<dt class="dep-ttl">회원관리</dt>
						<dd><a href="#">로그인</a></dd>
						<dd><a href="#">회원가입</a></dd>
					</dl>
				</div>

				<div class="news-letter">
					<h4 class="dep-ttl">Newsletter</h4>
					<label class="input-search">
						<input type="text" class="input-text" placeholder="Your Email Address">
						<input type="submit" class="btn btn-xs btn-darkgray" value="ok">
					</label>

					<div class="copyright">
						<ul>
							<li>시대인재 학원 고3 : 02-552-2373</li>
							<li>시대인재 학원 고1/2 : 02-553-2373</li>
							<li>시대인재 온/북스: 1522-0568</li>
							<li>Copyright (주)하이컨시. All Rights Reserved.</li>
						</ul>
					</div>
				</div>
			</div>

			<button class="btn btn-xs btn-top" onclick="fnScrollObj('#header')">Top</button>
		</div>
		<!--// E : footer -->

		<!-- S : dim-layer -->
		<div class="dim-layer"></div>
		<!--// E : dim-layer -->
	</div>
	<!--// E : wrap -->
 </body>
</html>